
@{
    ViewData["Title"] = "MainViewLogs";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}
<link href="~/select2/css/select2.min.css" rel="stylesheet" />
<style>
    .pagination > a {
        padding: 5px;
    }

    .myclass {
        position: fixed;
        top: 20%;
        left: 70%;
        color: green;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 60px;
    }

    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        width: 215px !important;
        position: relative;
        vertical-align: middle;
    }

    .btngocalss {
        box-shadow: none !important;
        border: none !important;
        
         height: 28px !important;
        margin-left: -6px !important;
        border-radius: 5px !important;
    }

    .mydlete {
        position: fixed;
        top: 24%;
        left: 70%;
        color: red;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 60px;
    }

    .myclass {
        position: fixed;
        top: 24%;
        left: 70%;
        color: green;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }

    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        opacity: .9;
        background-color: rgb(249,249,249);
    }

        .loader img {
            top: 50%;
            position: absolute;
            left: 50%;
            margin: 0;
            margin-right: -50%;
            transform: translate(-50%,-50%);
        }
</style>

<div class="loader">
    <img src="~/Images/giffff.gif" />
</div>
<div class="container-fluid p-0">
    <h4 style="margin-left: 13px;">Zinc WatchList Logs<span style="cursor:pointer!important"><a href="../BestBuyProduct/SummaryCount" target="_blank"style="margin-left: 85px;cursor:pointer!important;
        font-size: 12px !important;
        text-decoration: underline;
">BB Price Logs</a></span></h4>
    
    
    <div class="row col col-12" id="fixActionMenu">
        <div class="col col-md-8">
            <div class="row">
                <div class="pagination col-md-3 col" style="margin-left: 10px;">

                </div>

                <span>Results Per Page: 100 </span>
                <span style="margin-left:40px; margin-right:20px;">Results Found: @ViewBag.logsRecords</span>
                <div style="margin-left:15px">
                    @using (Html.BeginForm("MainViewLogs", "ZincWatchlist", FormMethod.Get))
                    {
                        <label class="radio-inline">
                            <input type="radio" name="available" checked value="" /> All <span> (@ViewBag.Total)</span>
                        </label>
                        <label class="radio-inline" style="margin-left: 10px;">
                            <input type="radio" name="available" value="Available" /> Available<span> (@ViewBag.AvailableCount)</span>
                        </label>
                        <label class="radio-inline" style="margin-left: 10px;">
                            <input type="radio" name="available" value="Currently Unavailable" /> UnAvailable<span> (@ViewBag.UnAvailableCount)</span>
                        </label>
                        <label class="radio-inline" style="margin-left: 10px;">
                            <input type="radio" name="available" value="Listing Removed" /> Listing Removed<span> (@ViewBag.ListingRemovedCount)</span>
                        </label>

                        <input type="hidden" name="ASIN" value="" id="ddlZincStatusValues" />
                        <input type="hidden" name="jobID" value="@ViewBag.JobID" id="ddlDSStatusValues" />
                    }
                </div>
            </div>
        </div>
        @*<div class="col col-md-2">

            </div>*@
        @*<div class="col col-md-2">
                <span>Item Per Page :100</span>
            </div>*@
        @*<div class="col col-md-4">


            </div>*@

        <div class="col-md-4 p-0">
            <span class="" style="padding-top:4px !important;">
                <input type="checkbox" id="selectall" value="" />
                <label>Select All Pages</label><span id="totalSelectedAll"></span>
            </span>
            <div class="row form-group" style="float: right;">
                <div class="">
                    <select id="actionMenu" class="form-control p-sm-0">
                        <option value="ED-DS-SKU">Enable/Disable Dropship SKU</option>
                        <option value="updateonbestbuy">Update on Best Buy</option>
                        <option value="jobrun">Get Zinc Update</option>

                    </select>
                    <span class="">
                        <button type="button" id="btnEnableDisableSKU" class=" btn btn-success btngocalss" value="Go">Go</button>
                    </span>
                </div>

            </div>


        </div>


        <div class="modal fade" style="margin-top: 80px!important;" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">SKU Status</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body" id="modelBody">
                        @*For Bulk Selction of SKU
                            <form asp-action="IndexMainView" asp-controller="Product">
                                <textarea id="SearchFromSkuList" class="hideForBulkSku" name="SearchFromSkuList" cols="50" rows="10"></textarea>
                                <input type="submit" value="SearchFromSKUList" class="hideForBulkSku btn btn-primary" />
                            </form>*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModaleBestBuy" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">

            <!-- Modal Header -->
            <div class="modal-header">

                <strong>
                    <i class="fa fa-check" style=" color: green;
font-size: 20px;vertical-align:bottom!important"></i><span style="vertical-align: text-top;margin-left: 4px;
">Update Succesfully!</span>
                </strong>


                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body updatebestbuy" style="padding-left:0!important;">


            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="warningmodel" style="margin-top: 130px;">
    <div class="modal-dialog modal-md">
        <div class="modal-content modelwidth">

            <!-- Modal Header -->
            <div class="modal-header">
                <strong>
                    <i class="fa fa-exclamation-triangle" style=" color: red;font-size: 20px;vertical-align:bottom!important"></i><span style="vertical-align: text-top;margin-left: 4px;">Warning!</span>
                </strong>

                <button type="button" class="close closeModel" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body myclassExcluded" style="padding-left:0!important;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default closeModel" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success btnsubmitr" data-dismiss="modal">Yes</button>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="loadOrder">

    </div>
</div>
<div class="container-fluid">
    <div class="pagination">

    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/jQuery-Paging/jquery.paging.min.js"></script>
    <script src="~/select2/js/select2.full.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $(document).on('click', '.runjob', function () {

                var row = $(this).closest("tr");
                var JobId = $(this).attr('dataid');
                $(".myclassExcluded").empty();
                $(".myclassExcluded").append("<p style='margin-left: 20px;'>Are you Sure You Want to Start the job " + JobId + " ?</p>");
                $("#warningmodel").modal({ backdrop: 'static', keyboard: false });
                $(document).on('click', '.btnsubmitr', function () {

                    $.ajax({
                        url: '../Product/ExecuteJob?JobId=' + JobId,
                        data: {},
                        type: 'POST',
                        traditional: true,
                        success: function (data) {
                        }
                    });
                });
            });
            $(".loader").hide();
            $(document).on('click', '#headerCheckBox', function () {
                var i = 0;
                if ($(this).is(':checked')) {

                    $(".table tbody tr ").each(function () {
                        debugger;
                        var watchlistsku = $(this).find('.watchlistdata').val();
                        var WHQ = $(this).find('.whq').val();
                        var IsPrime = $(this).find('.isprime').val();

                        if (watchlistsku == 1 && WHQ <= 0 && IsPrime == 1) {
                            $(this).find('.checkboxSkForEnableDisable').prop('checked', true);
                            i++;
                        }
                    });

                }
                else {

                    $(".table tbody tr ").each(function () {
                        $(this).find('.checkboxSkForEnableDisable').prop('checked', false);
                    });
                }
                $("#totalSelected").text(i);
            });



            $(document).on('click', '.checkboxSkForEnableDisable', function () {
                var i = parseInt($("#totalSelected").text());
                if ($(this).is(':checked')) {
                    i++;
                }
                else {
                    i--;
                }
                $("#totalSelected").text(i);
            });


            $("#actionMenu").select2();
            function hideclass() {
                $(".btnbuttonstyle").hide();

            }
            //$(document).on("dblclick", ".inputvalchange", function () {
            //    $(".btnbuttonstyle").hide();

            //    // $(this).closest('tr').find(".buttons-group").css("transform", "translateX(0)");

            //    $(this).closest('tr').find(".btnbuttonstyle").show();



            //})

            $(document).on("click", ".btnsavetable", function () {
                //var selectedRow = $(this);
                //var productid = $(selectedRow).parents('tr').find('.idZincProxy').val();
                var asin = $(this).closest('tr').find(".inputvalchange").attr("data-id");
                var maxprice = $(this).closest('tr').find(".inputvalchange").val();
                var ThisContext = $(this).closest('tr');
                console.log("price get", maxprice);
                console.log("asin value", asin);

                $.ajax({
                    type: 'GET',
                    url: '../ZincWatchlist/UpdatePriceMax',
                    data: {
                        ASIN: asin,
                        MaxPrice: maxprice
                    },
                    success: function (data) {
                        //$("#dialog-Delete").dialog("close");
                        //$(".loader").hide();
                        //selectedRow.parents('tr').remove();
                        $(ThisContext).find('.UpdatingSellingPrice').val(parseFloat(maxprice)*100);
                        $.notify('update Successfully', { globalPosition: 'bottom right', className: 'danger myclass' });
                    },
                    Error: function (err) {

                    }
                });

            });

            $(document).on("click", ".btncanceltable", function () {
                $(".btnbuttonstyle").hide();


            })


            $(document).on("keypress", ".inputvalchange", function () {
                $(".btnbuttonstyle").hide();

                // $(this).closest('tr').find(".buttons-group").css("transform", "translateX(0)");

                $(this).closest('tr').find(".btnbuttonstyle").show();

            });

            $(document).on("change", ".inputvalchange", function () {
                $(".btnbuttonstyle").hide();

                // $(this).closest('tr').find(".buttons-group").css("transform", "translateX(0)");

                $(this).closest('tr').find(".btnbuttonstyle").show();
            });

              var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = window.location.search.substring(1),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                    }
                }
            };
            var ASIN = getUrlParameter('ASIN');
            var available = getUrlParameter('available');
            var jobID = getUrlParameter('jobID');
              //$(document).on('change', '#headerCheckBox', function () {

              //  var result = $(this).is(':checked');
              //  $.fn.checkUncheckSKU_checkbox(result)
              //  //$(document).find('.checkboxSkuForUpdating').each(function (index) {
              //  //        $(this).attr('checked', result);
              //  //    });
              //});

            $.fn.checkUncheckSKU_checkbox = function (status) {
                $(document).find('.checkboxSkuForUpdating').each(function (index) {
                    $(this).attr('checked', status);
                });
            }

          //pagination
                $(".pagination").paging(parseInt('@ViewBag.logsRecords'), {
                format: '[< nncnn >]',
                perpage: 100, // show 10 elements per page
                lapping: 0, // don't overlap pages for the moment
                page: 1, // start at page, can also be "null" or negative
                stepwidth: 0, // =0 means blockwise next/prev steps
                onSelect: function (page) {

                pageNo = page;
                // add code which gets executed when user selects a page

                      var url = '/ZincWatchlist/ZincWatchListLogs?page=' + page + ''
                    var completURL = url + '&ASIN=' + ASIN + '&jobID=' + jobID+ '&available=' + available;
                    $(".loadertbl").show();
                    $(".loader").show();
                    $.ajax({
                        url: completURL,
                        data: {},
                        type: 'POST',
                        traditional: true,
                        success: function (data) {
                            $('#loadOrder').empty();
                            $('#loadOrder').html(data);
                            SelectAllCount($("#selectall"));
                            hideclass();
                            $(".loadertbl").hide();
                            $(".loader").hide();
                            // $('#tableOrderList').stickyTableHeaders({ fixedOffset: 0 });
                        }
                    });
                    if (typeof OrderDateTimeFrom !== "undefined" && typeof OrderDateTimeTo !== "undefined") {
                        if (OrderDateTimeFrom !== "" && OrderDateTimeTo !== "") {
                            start = moment(OrderDateTimeFrom);
                            end = moment(OrderDateTimeTo);

                            cb(moment(OrderDateTimeFrom), moment(OrderDateTimeTo));
                        }
                        else {
                            $('#reportrange span').html("No Date Selected");
                        }

                    }
                    else {
                        $('#reportrange span').html("No Date Selected");
                    }



                //$.get(completURL).done(function (response) {
                //      $('#loadOrder').empty();
                //      $('#loadOrder').html(response);

                //      $('#tableOrderList').stickyTableHeaders({ fixedOffset: 65 });
                //  });
                },
                    onFormat: function (type) {
                        switch (type) {
                            case 'block': // n and c
                                if (this.page === this.value) {
                                    return '<span>' + this.value + '</span>';
                                } else {
                                    return '<a href="#">' + this.value + '</a>';
                                }
                            case 'next': // >
                                return '<a href="#">&gt;</a>';
                            case 'prev': // <
                                return '<a href="#">&lt;</a>';
                            case 'first': // [
                                return '<a href="#">First</a>';
                            case 'last': // ]
                                return '<a href="#">Last</a>';
                        }
                    }


                });

           $(document).on("change", "input[type=radio]", function () {
          //$('a.showmore').click(function (e) {

               // var available = $("input[type=radio]:checked").attr("value");

               //var page = 1;
               //       var url = '/ZincWatchlist/ZincWatchListLogs?page=' + page + ''
               //     var completURL = url + '&ASIN=' + ASIN + '&jobID=' + jobID+ '&available=' + available;
               // $(".loadertbl").show();

               //     $.ajax({
               //         url: completURL,
               //         data: {},
               //         type: 'POST',
               //         traditional: true,
               //         success: function (data) {
               //             $('#loadOrder').empty();
               //             $('#loadOrder').html(data);
               //             $(".loadertbl").hide();
               //             // $('#tableOrderList').stickyTableHeaders({ fixedOffset: 0 });
               //         }
               //     });


               $(this).closest("form").submit();

           });
            if (available != null) {
                var avail = available.replace("+", "");
                    $("input[type=radio]").each(function () {
                        if ($(this).val().replace(" ", "") == avail) {


                            $(this).prop('checked', true)

                        }

                    });
            }

            $(document).on('click', '#btnEnableDisableSKU', function () {
                {
                    //for run job
                     
                    if ($('#actionMenu option:selected').val() == "jobrun") {
                        debugger
                        {
                            $(document).find('.table tbody tr').each(function (index) {

                                var jobID = $(this).find('.GETjobID').attr('data-id');
                                if (jobID != null) {
                                    $(".myclassExcluded").empty();
                                    $(".myclassExcluded").append("<p style='margin-left: 20px;'>Are you Sure You Want to Start the job " + jobID + " ?</p>");
                                    $("#warningmodel").modal({ backdrop: 'static', keyboard: false });
                                }                          
                               
                            });
                            if (jobID.length > 0) {
                                $(document).on('click', '.btnsubmitr', function () {
                                    $.ajax({
                                        url: '../Product/ExecuteJob?JobId=' + jobID,
                                        data: {},
                                        type: 'POST',
                                        traditional: true,
                                        success: function (data) {
                                        }
                                    });
                                });
                            }
                        }

                    }








                    //



                    var SKUArraryForSinglePage = [];
                    if ($('#actionMenu option:selected').val() == "ED-DS-SKU") {
                        var checked = $('.table').find(':checked').length;
                        console.log("checked value", checked);
                        if (checked == 0) {
                            $.notify('Please Select Items!', { globalPosition: 'bottom right', className: 'danger mydlete' });
                            return;
                        }
                        debugger
                        {
                            $(document).find('.checkboxSkuForUpdating').each(function (index) {
                                var status = $(this).is(':checked');
                                if (status) {
                                    var productSKU = $(this).closest('tr').find('#productSkuForUpdating').val();
                                    SKUArraryForSinglePage.push(productSKU)
                                }
                            });
                            if (typeof SKUArraryForSinglePage !== 'undefined' && SKUArraryForSinglePage.length > 0) {
                                $.ajax({
                                    type: 'POST',
                                    url: '@Url.Action("ShowBulkSKUStatusFor_DropshipEnableDisable_Inventory", "Product")',
                                    data: { skuList: SKUArraryForSinglePage },
                                    dataType: 'html',
                                    traditional: true,
                                    success: function (data) {
                                        $('#modelBody').empty();
                                        $('#modelBody').html(data);
                                        $('#myModal').modal('show');
                                    }

                                });
                            }
                        }

                    }

                    if ($('#actionMenu option:selected').val() == "updateonbestbuy") {
                        debugger;
                        if ($('#selectall').is(":checked")) {
                            $(".loader").show();
                            debugger
                            var Url = '/ZincWatchlist/UpdateBestBuyForAllPages?ASIN=' + ASIN + '&jobID=' + jobID + '&available=' + available;
                            //var completURL = Url + 'ASIN=' + ASIN + '&jobID=' + jobID+ '&available=' + available;
                            $.ajax({
                                type: 'Get',
                                url: Url,
                                success: function (res) {
                                    $(".loader").hide();
                                    //$.notify(`Job ID ${res}`, { globalPosition: 'bottom right', className: 'danger myclass' });
                                    $('.updatebestbuy').append("<a href='/BestBuyProduct/SummaryCount/" + res + "' target='_blank' style='font-weight: bold;text-decoration: underline !important;margin-left:20px!important'>Job ID is " + res + "</a >");
                                    $("#myModaleBestBuy").modal({ backdrop: 'static', keyboard: false });
                                },
                                error: function (res) {
                                    debugger;
                                }
                            });
                        }
                        else {

                            var checked = $('.table').find(':checked').length;
                            console.log("checked value", checked);
                            if (checked == 0) {
                                $.notify('Please Select Items!', { globalPosition: 'bottom right', className: 'danger mydlete' });
                                return;
                            }
                            $(".loader").show();
                            var data = [];
                            $(document).find('.checkboxSkuForUpdating').each(function (index) {
                                var status = $(this).is(':checked');
                                if (status) {
                                    var ProductSku = $(this).closest('tr').find('#productSkuForUpdating').val();
                                    var ProductId = $(this).closest('tr').find('#productIdForUpdating').val();
                                    var MSRP = $(this).closest('tr').find('.MSRP').val();
                                    var UpdateSelling = parseFloat($(this).closest('tr').find('.UpdatingSellingPrice').val());

                                    data.push({ ProductSKU: ProductSku, BBProductId: ProductId, UnitOriginPrice_MSRP: MSRP, UnitOriginPrice_Max: UpdateSelling,ZincJobId:jobID });
                                }
                            });

                            debugger;
                            var Url = '/ZincWatchlist/UpdateBestBuyForSelectPages';

                            $.ajax({
                                type: 'POST',
                                url: Url,
                                data: { data },
                                success: function (res) {
                                    $(".loader").hide();
                                    //$.notify(`Job ID ${res}`, { globalPosition: 'bottom right', className: 'danger myclass' });
                                    $('.updatebestbuy').append("<a href='/BestBuyProduct/SummaryCount/" + res + "' target='_blank' style='font-weight: bold;text-decoration: underline !important;margin-left:20px!important'>Job ID is " + res + "</a >");
                                    $("#myModaleBestBuy").modal({ backdrop: 'static', keyboard: false });
                                },
                                error: function (res) {
                                    debugger;
                                }
                            });
                        }


                    }
                }
            });

            function SelectAllCount(_this) {
                var i = 0;
                debugger;
                if ($(_this).is(':checked')) {
                    var Url = '/ZincWatchlist/GetWatchlistLogsSelectAllCount?ASIN=' + ASIN + '&jobID=' + jobID + '&available=' + available;
                    $.ajax({
                        type: 'Get',
                        url: Url,
                        success: function (res) {
                            $("#totalSelectedAll").text(': '+res);
                        },
                        error: function (res) {
                            debugger;
                        }
                    });
                    debugger;
                    $(".table tbody tr ").each(function () {
                        debugger;
                        var watchlistsku = $(this).find('.watchlistdata').val();
                        var WHQ = $(this).find('.whq').val();
                        var IsPrime = $(this).find('.isprime').val();

                        if (watchlistsku == 1 && WHQ <= 0 && IsPrime == 1) {
                            $(this).find('.checkboxSkForEnableDisable').prop('checked', true);
                            i++;
                        }
                    });
                }
                else {
                    $(".table tbody tr ").each(function () {
                        $(this).find('.checkboxSkForEnableDisable').prop('checked', false);
                        $("#totalSelectedAll").text('');
                    });
                }
                $("#totalSelected").text(i);
            }

            $(document).on('click', '#selectall', function () {
                SelectAllCount($(this));
            });

        });

         function SubmitForm() {
            debugger;
            var url = '@Url.Action("Update_DS_EnableDisable_SKU", "Product")';
            var data = $('#form1').serialize();
            $.validator.unobtrusive.parse($('#form1'));
            if ($('#form1').valid()) {
                $(document).find('.ButtonLoader').children('span').css('display', 'inline');
                $(document).find('#SaveDS_Enable_disable_SKU').attr('disabled', 'disabled');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function (data) {
                        $(document).find('.ButtonLoader').children('span').css('display', 'none');
                        $(document).find('#SkuStatusMessage').append([
                            $('<label/>').text("SKU's updated" + data.SkuUpdate).css({ 'margin-left': '10px', 'color': 'green', 'font-weight': 'bold', 'margin-right': '7px' }),
                            $('<label/>').text("SKU's with error " + data.SkuError).css({ 'color': 'red', 'font-weight': 'bold', 'margin-right': '7px' }),
                            $('<br/>'),
                            $('<label/>').text("Note : Please search again to see affected SKUs").css('margin-left', '10px')
                        ]);
                        checkUncheckSKU_checkbox(false);
                        $(document).find('#headerCheckBox').attr('checked', false);
                    }
                });

            }
            return false;
        }


    </script>
}



