@model PagedList.Core.IPagedList<DataAccess.ViewModels.CasePackViewModel>
@using Hld.WebApplication.Helper
@*@model IEnumerable<Hld.WebApplication.ViewModel.BestBuyOrdersViewModel>*@
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<style>
    #myModalEdit, #myModal {
        margin: 20px;
        margin-top: 88px;
    }

    .table {
        margin-top: 60px;
    }

        /*.table thead tr th {
            vertical-align: middle !important;
        }*/

        /*.table td {
            vertical-align: middle !important;
            text-align: left !important;
        }*/

        .table thead tr th {
            position: sticky;
            top: 174px;
            padding: 5px;
            /*width: 26px;*/
            z-index: 2;
            background-color: lightgray;
        }

    .myclass {
        position: fixed;
        top: 17%;
        left: 90%;
        color: green;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }

    .myclasscancel {
        position: fixed;
        top: 17%;
        left: 90%;
        color: black;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }

    .table th:last-child, .table th:first-child {
        background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
        /*background-color: lightgray !important;*/
        /*background: none !important;*/
        background-image: none !important;
    }

    table.tablesorter tbody tr:hover td {
        background: #f1f1f1;
        cursor: pointer;
    }

    table tbody tr td {
        /*min-width: 50px !important;
        max-width: 50px !important;*/
        height: 50px !important;
        display: table-cell;
        min-height: 50px !important;
        line-height: 1 !important;
    }

    .tablecenteRow {
        text-align: center !important;
        vertical-align: middle !important;
    }

    table td {
        vertical-align: middle !important;
    }

    .tbldata {
        text-align: center !important;
    }

    .btn-style {
        padding: 3px;
        font-size: 11px;
    }

    .tablesorter-default .tablesorter-header {
        outline: none !important;
    }

    #onhoveredit {
        visibility: hidden;
        /*position:absolute;*/
    }

    .edit:hover ~ #onhoveredit {
        visibility: visible;
    }
    .table {
        border-left: #ccc 1px solid !important;
        border-right: #ccc 1px solid !important;
    }
</style>

<div class="container-fluid mt-3 maincontainer">
    @*<div class="table-responsive">*@
    <table class="table  tablesorter detailtable" style="margin-top:174px;width:98%!important">
        <thead style="background-color:darkgray;">
            <tr>
                <th>Image</th>
                <th>Vendor</th>
                <th style="width: 150px;">
                    SKU
                </th>
                <th style="width:30%">
                    Title
                </th>

                <th>
                    Qty Per Box
                </th>
                <th>
                    Width cm
                </th>
                <th>
                    Height cm
                </th>
                <th>
                    Length cm
                </th>
                <th>
                    Weight kg
                </th>
                <th>Case Pack Volume</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <input style='display:none' class='form-control CasePackId' value="@item.CasePackId">
                    <a target="_blank" href="@ViewBag.S3BucketURL_large/@item.ImageName">
                        <img src="@ViewBag.S3BucketURL/@item.CompressedImage" class="rounded" height="50" width="50" />
                    </a>
                </td>
                <td>@item.UserAlias</td>
                <td>
                    @Html.DisplayFor(modelItem => item.SKU)
                </td>
                <td>@item.Title</td>

                <td>
                    @Html.DisplayFor(modelItem => item.QtyPerBox)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Width)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @item.Weight
                    @*@Html.DisplayFor(modelItem => item.Weight)*@
                </td>
                <td>
                    @{ 
                        var caskpackvolum = (@item.Width) * (item.Height) * (item.Length) / 1000000;

                    }
                    @Math.Round(caskpackvolum,2)
                </td>
                <td>
                    @if (@item.Counter == 0)
                    {
                        <a style="cursor:pointer" title="Delete" class=" btnDelete"><img src="~/Images/trash-can-1.1s-128px.png" height="25" /></a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    @*</div>*@
</div>


