
@model PagedList.IPagedList<Hld.WebApplication.ViewModel.AliasViewModel>

@using (Html.BeginForm("InvoiceList", "Home", FormMethod.Get, new { id = "form1" }))
{
    <div id='Paging' style="text-align: center">
        @*Dorpdownlist generation code*@
        Page Size: @Html.DropDownList("pageSize")
        <br />(Nos. of Records To Display)
        <br />
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount


         
    </div>
}
<div class="container">


    <table id="table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Sr. #
                </th>
                <th>
                    Name
                </th>
                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            @{
                int sno = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{ sno++; }
                        @sno
                    </td>
                    <td>
                        @Html.HiddenFor(modelItem => item.AliaseID)

                        @Html.DisplayFor(modelItem => item.AliaName)
                    </td>

                    <td>
                        <a href="#" data-target="#myModal" data-toggle="modal" onclick="PopupForm('@Url.Action("AddUpdateAlias","Alias",new {id=item.AliaseID } )')"> Edit </a>   |
                        <a href="#" onclick="AddEditEmployee(@item.AliaseID)"> Delete  </a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>



