@model Hld.WebApplication.ViewModels.ShipmentViewModel;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "ShipmentCreation";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}
<link href="~/lib/jQuery-MultiSelect/jquery.multiselect.css" rel="stylesheet" />
<link href="~/select2/css/select2.min.css" rel="stylesheet" />

<link href="~/css/date-range-picker/daterangepicker.css" rel="stylesheet" />
<style>
    .btngocalss {
        box-shadow: none !important;
        border: none !important;
        padding: 0 6px !important;
        border-radius: 2px !important;
    }

    .tooltipp {
        position: relative;
        display: contents;
    }

        .tooltipp .tooltiptextt {
            visibility: hidden;
            width: 200px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            font-family: arial;
            position: absolute;
            z-index: 71;
            bottom: 64%;
            /*left: -958%;*/
            margin-bottom: 14px;
            margin-left: -112px;
            opacity: 0;
            transition: opacity 0.3s;
        }

            .tooltipp .tooltiptextt::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: 4px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .tooltipp:hover .tooltiptextt {
            visibility: visible;
            opacity: 1;
        }

    .pagination > a {
        padding: 5px;
    }

    .ms-options-wrap.ms-active > .ms-options {
        max-width: 400px !important;
        min-height: 92px !important;
    }

    .ms-options-wrap > button:focus, .ms-options-wrap > button {
        border-radius: 4px;
        height: 25px;
        outline: none !important;
    }

    ms-options-wrap > button:focus, .ms-options-wrap > button {
        padding: 1px 0px 1px 2px !important;
    }

    .ms-options-wrap > .ms-options > ul label {
        width: 101% !important;
    }

    #myModalEdit, #myModal, #myModalMarkShiped {
        margin: 20px;
        margin-top: 88px;
    }

    .table {
        margin-top: 60px;
    }

        .table thead tr th {
            width: 88px;
            vertical-align: middle !important;
        }

        /*.table td {
            vertical-align: middle !important;
            text-align: start !important;
        }*/

        .table thead tr th {
            position: sticky;
            top: 50px;
            padding: 5px;
            /*width: 26px;*/
            z-index: 2;
            background-color: lightgray;
        }

    .myclass {
        position: fixed;
        top: 17%;
        left: 90%;
        color: green;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }

    .myclasscancel {
        position: fixed;
        top: 17%;
        left: 90%;
        color: black;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }

    .table th:last-child, .table th:first-child {
        background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
        /*background-color: lightgray !important;*/
        /*background: none !important;*/
        background-image: none !important;
    }

    .tablesorter-default .tablesorter-header {
        outline: none !important;
    }

    .btnstyle {
        padding: 4px;
        box-shadow: none;
    }

    .hidedialogbox {
        font-family: Arial;
        position: absolute;
        top: 1000px;
        width: 1000px;
        height: auto;
    }

    .mydlete {
        position: fixed;
        top: 17%;
        left: 90%;
        color: red;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }
    .modelwidth{
        width:125%!important;
    }
    .select2 {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 27px !important;
        user-select: none;
        -webkit-user-select: none;
    }

    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 27px !important;
        user-select: none;
        -webkit-user-select: none;
    }
    .myselectwidth {
width: 230px!important;
}
</style>

<div class="container-fluid" style="margin-left:15px">
    <h6>Shipment Creation</h6>
    <button type="button" class="btn btn-primary ml-1 btnstyle" onclick="showModal()">Create New Shipment</button>
    <a class="btn btn-success m-1 btnstyle" asp-controller="ShipmentCasePack" asp-action="GetTemplateList" target="_blank">Manage Case Pack</a>
    <a class="btn btn-success m-1 btnstyle" asp-controller="Shipment" asp-action="ShipmentHistoryList" target="_blank">Shipment History</a>
    @if ((await AuthorizationService.AuthorizeAsync(User, "Access to Product Link in PO")).Succeeded)
    {
        @*<a class="btn btn-success m-1 btnstyle" asp-controller="ShipmentProduct" asp-action="ShipementProductByBarcode" target="_blank">Receive Shipments</a>*@
    }

    <div class="modal fade" id="EditTrackingNumber" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 80px!important;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="display:flex;flex-direction:row-reverse!important">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Update Tracking</h4>
                </div>

                @using (Html.BeginForm("UpdateShipmentCourierInfo", "Shipment", FormMethod.Post))
                {<div class="modal-body">

                        <div class="form-group">
                            <label for="inputName"><b>Shipping Courier Code :</b></label>
                            <input type="text" name="ShipmentId" class="form-control" id="TrackingShipmentId" style="display:none">
                            <input type="text" name="CourierCode" class="form-control" id="idCourierCode">
                        </div>
                        <div class="form-group">
                            <label for="inputName"><b>Traking Number :</b></label>
                            <input type="text" name="TrakingNumber" class="form-control" id="idTrakingNumber">
                        </div>
                        <div class="form-group">
                            <label for="inputName"><b>Shipping Date :</b></label>
                            <input type="date" name="CreatedAt" class="form-control" id="idCreatedAt">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btncancel" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="modal fade" style="margin-top: 80px !important;" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="display:flex;flex-direction:row-reverse!important">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel"><b>Shipment Creation</b></h4>
                </div>

                @*@using (Html.BeginForm("Create", "Shipment", FormMethod.Post))
                    {*@
                <div class="modal-body">

                    <div class="form-group">
                        <label for="inputName">Shipment Name :</label>
                        <input type="text" value="@Model.ShipmentName" name="ShipmentName" maxlength="50" class="form-control" id="inputName2">
                    </div>
                    <div class="form-row row" style="margin-top:50px">

                        <div class="form-check form-check-inline" style="margin-left:25px; vertical-align: middle!important;">
                            <input type="radio" class="form-check-input" id="Type" name="Type" value="mixed" style="margin-right:10px">
                            <label class="form-check-label" for="mix" style="font-weight:bold">Mix SKUs</label>
                            <div style="margin-left:25px;">
                                <span class="tooltipp"><i class="fa fa-info" aria-hidden="true"></i><span class="tooltiptextt">Multiple SKUs in One Box.</span></span>
                            </div>
                            <input type="radio" class="form-check-input" id="Type" name="Type" value="casepack" style="margin-left:123px;margin-right:10px">
                            <label class="form-check-label" for="casepack" style="font-weight:bold">Case Pack</label>
                            <div style="margin-left:25px;">
                                <span class="tooltipp"><i class="fa fa-info" aria-hidden="true"></i><span class="tooltiptextt">One SKU in one Box</span></span>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                                                    <label for="inputComment">Notes:</label>
                        <textarea class="form-control myInput" value="@Model.Notes" name="Notes" maxlength="50" id="IdmyInput" rows="4"></textarea><span class="notescounter"></span>
                                                </div>*@

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btncancel" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btncreate" style="display:none">Save</button>
                    <button type="button" class="btn btn-primary btnvalidation">Save</button>
                </div>
                @*}*@
            </div>
        </div>
    </div>

    <div class="modal fade" style="margin-top: 80px!important;" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="display:flex;flex-direction:row-reverse!important">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Shipment Edit</h4>
                </div>

                @using (Html.BeginForm("Edit", "Shipment"))
                {<div class="modal-body">
                        <div class="form-group">
                            <label for="inputName"><b>Shipment Name :</b></label>
                            <input type="text" value="@Model.ShipmentName" name="ShipmentName" maxlength="50" class="form-control" id="idShipmentName">
                        </div>
                        <div class="form-group">
                            <input type="number" style="display:none" value="@Model.ShipmentAutoID" name="ShipmentAutoID" id="Idforedit" />
                            @*<label for="inputComment"><b>Notes:</b></label>*@
                            @*<textarea class="form-control myInput" maxlength="50" value="@Model.Notes" name="Notes" id="IdNotesEdit" rows="4"></textarea><span class="notescounter"></span>*@
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btncancel" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary btnsave">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="mb-1 searchFormcard" id="searchForm">
        <div class="col-sm-12">
            @using (Html.BeginForm("Create", "Shipment", FormMethod.Get))
            {
                <div class="row" style="margin-left:2px;margin-top:15px;">
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Access to Product Link in PO")).Succeeded)
                    {<div class="col-md-1 p-0 mr-1">

                            <select class="js-example-basic-single form-control Shipment" name="VendorId" id="vendor">

                                <option value="">Vendor</option>


                            </select>
                            @*<input asp-for="Vendor" type="search" id="Vendor" placeholder="Vendor" class="form-control" />*@
                            @*<span asp-validation-for="VendorAlias" class="text-danger"></span>*@
                            @*<span style="color:red;padding-left:0px;" id="empty-message-Vendor"></span>

                                @Html.HiddenFor(e => Model.VendorId, htmlAttributes: new { @id = "VendorIdForMessage", @name = "VendorID" })*@
                        </div>
                    }
                    <div class="col-md-2 p-0 mr-1">
                        <input type="text" id="ShipmentId" name="ShipmentId" placeholder="ShipmentID" value="@Model.ShipmentId" class="form-control" style="box-shadow:none" />
                    </div>
                    <div class="col-md-1 p-0 mr-1">
                        <input type="text" id="TrakingNumber" name="TrakingNumber" value="@Model.TrakingNumber" placeholder="TrakingNumber" class="form-control" style="box-shadow: none" />
                    </div>

                    @*<div class=" col-md-3 p-0 mr-1">
                            <input type="text" id="title" name="title" placeholder="Title" value="@Model.ProductTitle" class="form-control" style="box-shadow:none" />
                        </div>*@

                    <div class=" col-md-1 p-0 mr-1">
                        <select id="multiselect" class="3col active form-control  mb-2 mr-sm-2 QuantityStatus" multiple="multiple" style="box-shadow:none">
                            <option value="Open">Open</option>
                            <option value="InProcess">In Process</option>
                            <option value="Shiped">Shipped</option>
                            <option value="Received">Received</option>
                            <option value="ReceiveInProcess">Receive In Process</option>
                        </select>
                        <input type="hidden" name="ItemType" id="ddlQuantity" />
                    </div>
                    <div class="col-md-1 p-0 mr-1">
                        <select asp-for="Type" name="Type" class="form-control p-0">
                            <option value="ALL">ALL</option>
                            <option value="casepack">Case Pack</option>
                            <option value="mixed">Mixed</option>
                        </select>
                    </div>
                    <div class="col-md-2 p-0" style="margin-right: 15px;">
                        <div id="reportrange" style="background: #fff; cursor: pointer; border: 1px solid #ccc;padding: 3px;border-radius: 4px;width:100%; box-shadow:none">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                        </div>
                        <input type="hidden" name="orderDateTimeFrom" id="orderDateTimeFrom" />
                        <input type="hidden" name="orderDateTimeTo" id="orderDateTimeTo" />
                    </div>
                    <div class="col-md-1">
                        <button class="ml-1 btn btn-primary" type="submit" id="btnSearchOrder">Search</button>
                    </div>
                </div>
                <div class="form-group">

                </div>
            }
        </div>
    </div>
</div>
<div class="container-fluid ">
    <div class="row col col-12" id="fixActionMenu" style="margin-left: -5px;
margin-top: 9px;">
        <div class="col col-md-2">
            <div class="row">
                <div class="pagination col-md-6 col">

                </div>
            </div>
        </div>

        <div class="col col-md-2">
            <span> Total Shipments Found : @ViewBag.TotalCount</span>
        </div>
        @if ((await AuthorizationService.AuthorizeAsync(User, "Access to Product Link in PO")).Succeeded)
        {
            <div class="col-md-8">
                <div class="form-group row" style="float:right">
                    <select class="js-example-basic-single EditTrackingDetail myselectwidth" id="ActionMenu" name="state">

                        <option value="">Select</option>


                        <option value="EditTracking">Edit Tracking Detail</option>


                    </select>

                    <button class=" btn-success btngocalss BtnGoOrder" id="">Go</button>
                </div>
            </div>
            }
        </div>

</div>
<div class="container-fluid">
    <div id="loadOrder">

    </div>
</div>
<div class="modal fade" id="myModalerror" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">

            <!-- Modal Header -->
            <div class="modal-header">

                <strong>
                    <i class="fa fa-exclamation-triangle" style="color:red"></i><span style="vertical-align: text-top;margin-left: 4px;
">Warning!</span>
                </strong>


                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body myclassshide" style="padding-left:0!important;">
                <p class="modal-title" style=" padding-left: 15px;">
                    Please Select one Item for Update Tracking Number!
                </p>
               
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid" style="margin-left:10px">
    <div class="pagination">

    </div>
    <div class="hidedialogbox">
        <div id="dialog-box">
            <h6 style="color:red">Do you want to unship this shipment!</h6>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/sticky-table-headers/js/jquery.stickytableheaders.min.js"></script>
    <script src="~/lib/jQuery-Paging/jquery.paging.min.js"></script>
    <script src="~/lib/jQuery-MultiSelect/jquery.multiselect.js"></script>
    <script src="~/select2/js/select2.full.min.js"></script>

    <script src="~/lib/date-range-picker/moment.min.js"></script>
    <script src="~/lib/date-range-picker/daterangepicker.js"></script>

    <script src="~/lib/jquery.tablesorter/js/jquery.tablesorter.min.js"></script>
    <script>
        var selectedDateFrom = "";
        var selectedDatTo = "";
        $(".EditTrackingDetail").select2();
        $(document).ready(function () {

            function VendorlistgetInShipment() {

                $.ajax({
                    url: "/ApprovedPrice/GetAllVendorForAutoComplete",
                    type: "POST",
                    minLength: 3,
                    dataType: "json",
                    data: { Prefix: "" },
                    success: function (data, ui) {
                        var content = '';
                        $.each(data, function (index, value) {

                            content = content + '<option value = "' + value.UserName + '">' + value.UserAlias + '</option>';



                        });

                        $(".Shipment").append(content);

                        $(".Shipment").val(@Model.VendorId);

                    }
        })



            }

            VendorlistgetInShipment();
            $(".Shipment").select2()

            debugger;
            $("#dialog-box").dialog({
                autoOpen: false,
                //title: 'Are u want to delete this reocord!',
                modal: true,
            });

            //$(document).on('click', '#headerCheckBox', function () {
            //    var i = 0;
            //    if ($(this).is(':checked')) {

            //        $(".table tbody tr ").each(function () {

            //             $(this).find('.checkboxSelect').prop('checked', true);
            //        });

            //    }
            //    else {

            //        $(".table tbody tr ").each(function () {
            //            $(this).find('.checkboxSelect').prop('checked', false);
            //        });
            //    }

            //});
            debugger;
            $(document).on('click', '.BtnGoOrder', function () {
                var action = $('#ActionMenu').val();
                debugger;

                if (action == "") {
                    $.notify('Please select an option', { globalPosition: 'bottom right', className: 'danger mydlete' });
                    return;
                }
                if (action == "EditTracking") {
                    debugger;
                    var data = [];
                    var shipmentId = "";
                    var i = 0;

                    $(".table tbody tr ").each(function () {

                        if ($(this).find('.checkboxSelect').is(':checked')) {

                            shipmentId= $(this).find(".ShipmentIdForTracking").val();
                            i++;

                        }
                    });
                    if (i == 1) {
                        $.ajax({
                            type: 'POST',
                            url: '../Shipment/GetShipmentCourierInfo?shipmentId=' + shipmentId,
                            success: function (res) {
                                $("#idCourierCode").val(res.CourierCode)
                                $("#TrackingShipmentId").val(shipmentId)
                                $("#idTrakingNumber").val(res.TrakingNumber)
                                $("#idCreatedAt").val(res.CreatedAt)
                                $('#EditTrackingNumber').modal('show');
                            },
                            Error: function (err) {
                                //$.notify('some error occured!', { className: 'error mydelte' });
                            }
                        });

                    }
                    else {
                        $("#myModalerror").modal({
                            backdrop: 'static',
                            keyboard: false

                        });
                    }
                }

           

            });

            var start = moment().subtract(7, 'days');
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
            cb(start, end);
            $("#orderDateTimeFrom").datepicker({ dateFormat: 'yy-mm-dd' });
            $("#orderDateTimeTo").datepicker({ dateFormat: 'yy-mm-dd' });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                selectedDateFrom = picker.startDate.format('YYYY-MM-DD');
                selectedDatTo = picker.endDate.format('YYYY-MM-DD');
                $("#orderDateTimeTo").val(selectedDatTo);
                $("#orderDateTimeFrom").val(selectedDateFrom);
                console.log($("#orderDateTimeTo").val());
                console.log(selectedDatTo);
            });

            //var Items = getUrlParameter('CustomerName');
            $('select[multiple].active.3col.QuantityStatus').multiselect({
                columns: 1,
                placeholder: 'Status',
                maxPlaceholderOpts: 1,

                selectAll: false,
                onOptionClick: function (element, option) {
                    $('#ddlQuantity').val($(element).val());
                    $(element).val();
                },
            });
            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = window.location.search.substring(1),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                    }
                }
            };
            var item = getUrlParameter('ItemType');
            var ShipmentId = getUrlParameter('ShipmentId');
            //var Vendor = getUrlParameter('Vendor');
            //if (Vendor == null || Vendor== "") {
            //    $("#VendorIdForMessage").val(0);
            //}
            var Vendor = getUrlParameter('VendorId');
            //var VendorId = $("#VendorIdForMessage").val();
            var TrakingNumber = getUrlParameter('TrakingNumber');
            var OrderDateTimeFrom = getUrlParameter('orderDateTimeFrom');
            var OrderDateTimeTo = getUrlParameter('orderDateTimeTo');
            var Type = getUrlParameter('Type');
            if (item != null) {
                debugger;
                var res = item.split(",");
                $.each(res, function (key, value) {
                    $(".ms-options").find("input[type=checkbox]").each(function () {

                        if ($(this).val() == value.trim()) {
                            $(this).prop("checked", true);
                            $('#ddlQuantity').val($(this).val());
                        }
                    });
                });
            }
            debugger;
              $(".pagination").paging(parseInt('@ViewBag.TotalCount'), {

                  format: '[< nncnn >]',
                  perpage: 25, // show 10 elements per page
                  lapping: 0, // don't overlap pages for the moment
                  page: 1, // start at page, can also be "null" or negative
                    stepwidth: 0, // =0 means blockwise next/prev steps
                  onSelect: function (page) {
                      debugger;
                      pageNo = page;
                      // add code which gets executed when user selects a page
                      var url = '/Shipment/getlist?page=' + page + "&ShipmentId=" + ShipmentId + "&VendorId=" + Vendor + "&TrakingNumber=" + TrakingNumber + "&ItemType=" + item + '&OrderDateTimeFrom=' + OrderDateTimeFrom + '&orderDateTimeTo=' + OrderDateTimeTo +'&Type='+Type;
                      var completURL = url  ;
                      $(".loadertbl").show();

                      $.ajax({
                          url: completURL,
                          data: {  },
                          type: 'POST',
                          traditional: true,
                          success: function (data) {

                              $('#loadOrder').empty();
                              $('#loadOrder').html(data);
                              $(function () {
                                  $(".table").tablesorter();
                              })
                              $(".loadertbl").hide();
                           // $('#tableOrderList').stickyTableHeaders({ fixedOffset: 0 });
                          },
                          error: function (data) {
                              debugger;
                          }
                      });
                      if (typeof OrderDateTimeFrom !== "undefined" && typeof OrderDateTimeTo !== "undefined") {
                          if (OrderDateTimeFrom !== "" && OrderDateTimeTo !== "") {
                              start = moment(OrderDateTimeFrom);
                              end = moment(OrderDateTimeTo);
                              cb(moment(OrderDateTimeFrom), moment(OrderDateTimeTo));
                          }
                          else {
                              $('#reportrange span').html("No Date Selected");
                          }

                      }
                      else {
                          $('#reportrange span').html("No Date Selected");
                      }
                  },
                    onFormat: function (type) {
                        switch (type) {
                            case 'block': // n and c
                                if (this.page === this.value) {
                                    return '<span>' + this.value + '</span>';
                                } else {
                                    return '<a href="#">' + this.value + '</a>';
                                }
                            case 'next': // >
                                return '<a href="#">&gt;</a>';
                            case 'prev': // <
                                return '<a href="#">&lt;</a>';
                            case 'first': // [
                                return '<a href="#">First</a>';
                            case 'last': // ]
                                return '<a href="#">Last</a>';
                        }
                    }
             });
            $(".table").tablesorter();

            //$(".btncancel").click(function () {
            //    $('#myModalEdit').modal('hide');
            //    $.notify('Cancel Successfully!', { globalPosition: 'bottom right', className: 'info myclasscancel' });
            //});

            $(".btnsave").click(function () {
                $('#myModalEdit').modal('hide');
                $.notify('Updated successfully', { globalPosition: 'bottom right', className: 'success myclass' });

            });

            //$(".btncreate").click(function () {

            //    var data = {
            //        ShipmentName: shipingId,
            //        //Type: $('input[type=radio][name=Type]:checked').val(),
            //    };
            //    console.log(data)
            //    debugger;

            //    //$('#myModalEdit').modal('hide');
            //    //$.notify('Createed successfully', { globalPosition: 'bottom right', className: 'success myclass' });

            //});

            $(".btnvalidation").click(function () {

                var shipmentname = $('#inputName2').val();
                var viewModel = {
                    ShipmentName: shipmentname,
                    Type: $('input[type=radio][name=Type]:checked').val(),
                };
                console.log(viewModel);

                if ($('input[type=radio][name=Type]:checked').length == 0) {
                    $.notify('please select one type', { globalPosition: 'bottom right', className: 'danger mydlete' });
                    return false;
                }


                if ((shipmentname) == "undefined" || (shipmentname) == "") {
                    $('#inputName2').addClass("error");
                    $.notify('please input shipment name', { globalPosition: 'bottom right', className: 'danger mydlete' });
                }
                else {
                    $('#inputName2').removeClass("error");
                    $(".btnvalidation").prop('disabled', true);
                    $.ajax({
                        type: 'POST',
                        url: '../Shipment/Create',
                        data: { viewModel },
                        success: function (res) {
                            location.href = '../Shipment/Create';
                            $('#myModalEdit').modal('hide');
                            $.notify('Createed successfully', { globalPosition: 'bottom right', className: 'success myclass' });
                        },
                        Error: function (err) {

                        }
                    });

                }

            });

            $(".myInput").keyup(function () {
                $(".notescounter").text(($(this).val().length) + "/50");
            });
            $(document).on('click', '.btnMarkAsUnShipped', function () {
                var shipingId = $(this).attr("shipingId")
                console.log("ShipmentId", shipingId);
                debugger;
                $("#dialog-box").dialog({
                    buttons: {
                        "Confirm": function () {
                            var data = {
                                ShipmentId: shipingId,
                            };
                            debugger;
                            $.ajax({
                                type: 'POST',
                                url: '../Shipment/DeleteShipmentCourier',
                                data: { data },
                                success: function (res) {
                                    $("#dialog-box").dialog("close");
                                    //$.notify('Delete Successfully', { className: 'danger mydelte' });
                                    location.href = '../Shipment/Create';
                                },
                                Error: function (err) {
                                    //$.notify('some error occured!', { className: 'error mydelte' });
                                }
                            });
                        }
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                        $.notify('Cancel Successfully ', { globalPosition: 'bottom right', className: 'warning mydelte' });
                    }

                });
                $("#dialog-box").dialog("open");
            });
        });


        //$('#Vendor').autocomplete({
        //    autoFocus: true,
        //    source: function (request, response) {
        //        $.ajax({
        //            url: "/ApprovedPrice/GetAllVendorForAutoComplete",
        //            type: "POST",
        //            minLength: 3,
        //            dataType: "json",
        //            data: { Prefix: request.term },
        //            success: function (data, ui) {

        //                //if (data.length > 0) {
        //                response($.map(data, function (item) {
        //                    if (item != null) {
        //                        return { label: item.UserAlias, value: item.UserAlias, id: item.UserName };
        //                    }

        //                }));
        //            }
        //        })
        //    },
        //    select: function (event, ui) {

        //        $('#VendorIdForMessage').val(ui.item.id);
        //    },
        //    response: function (event, ui) {
        //        console.dir(ui.content)
        //        if (ui.content.length === 0) {
        //            $("#empty-message-Vendor").text("No results found");
        //            $('#VendorIdForMessage').val("0");

        //            $('#InputSubmit').attr("disabled", true)
        //        } else {
        //            $("#empty-message-Vendor").empty();
        //            $('#InputSubmit').attr("disabled", false)
        //        }
        //    }
        //});
        $(document).on('click', '.edit', function () {
            debugger;
            $("#Idforedit").val($(this).attr("shipingId"));
            $("#IdNotesEdit").val($(this).attr("notes"));
            $("#idShipmentName").val($(this).attr("shipmentname"));

            $('#myModalEdit').modal('show');
            $(this).find('input[type="text"]').focus();
        });
        function showModal() {
            $('#myModal').modal('show');
            $(this).find('input[type="text"]').focus();
        }

    </script>
}