@model PagedList.Core.IPagedList<Hld.WebApplication.ViewModels.ShipmentGetDataViewModel>
@using Hld.WebApplication.Helper
@*@model IEnumerable<Hld.WebApplication.ViewModel.BestBuyOrdersViewModel>*@
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<style>
    #myModalEdit, #myModal {
        margin: 20px;
        margin-top: 88px;
    }

    .table {
        margin-top: 60px;
    }

        .table thead tr th {
            width: 88px;
            vertical-align: middle !important;
        }

        /*.table td {
            vertical-align: middle !important;
            text-align: left !important;
        }*/

        .table thead tr th {
            position: sticky;
            top: 50px;
            padding: 5px;
            /*width: 26px;*/
            z-index: 2;
            background-color: lightgray;
        }

    .myclass {
        position: fixed;
        top: 17%;
        left: 90%;
        color: green;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }

    .myclasscancel {
        position: fixed;
        top: 17%;
        left: 90%;
        color: black;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }

    .table th:last-child, .table th:first-child {
        background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
        /*background-color: lightgray !important;*/
        /*background: none !important;*/
        background-image: none !important;
    }

    table.tablesorter tbody tr:hover td {
        background: #f1f1f1;
        cursor: pointer;
    }

    table tbody tr td {
        min-width: 50px !important;
        max-width: 50px !important;
        height: 50px !important;
        display: table-cell;
        min-height: 50px !important;
        line-height: 1 !important;
    }

    .tablecenteRow {
        text-align: center !important;
        vertical-align: middle !important;
    }

    table td {
        vertical-align: middle !important;
    }

    .tbldata {
        text-align: center !important;
    }

    .btn-style {
        padding: 3px;
        font-size: 11px;
    }

    .tablesorter-default .tablesorter-header {
        outline: none !important;
    }

    #onhoveredit {
        visibility: hidden;
        /*position:absolute;*/
    }

    .edit:hover ~ #onhoveredit {
        visibility: visible;
    }

    .table {
        border-left: #ccc 1px solid !important;
        border-right: #ccc 1px solid !important;
    }
</style>

<div class="container-fluid">

    <table class="table tablesorter">
        <thead style="background-color:darkgray;">
            <tr>
                <th style="width: 38px !important;
text-align: center;
vertical-align: middle !important
"><input type="checkbox" id="headerCheckBox" /></th>

                <th style="max-width:220px;min-width:220px">
                    Shipment ID
                </th>

                <th>
                    Created On
                </th>
                <th>Shipped On</th>
                <th>Received On</th>
                <th style="max-width:150px;min-width:150px">
                    Vendor

                </th>
                @*<th>
                        Shipment Name

                    </th>*@
                <th class="tablecenteRow">Boxes #.</th>
                <th class="tablecenteRow">GW Kgs.</th>
                <th class="tablecenteRow">SKU #.</th>
                <th class="tablecenteRow">PO #.</th>

                <th class="tablecenteRow"> Qty Shipped</th>
                <th class="tablecenteRow"> Qty Received</th>
                <th style="min-width:100px;text-align:right;">Amount Received</th>
                <th style="max-width:124px;min-width:124px"> Tracking Number</th>
                <th>
                    Status

                </th>
                <th style="min-width: 220px;width: 220px;">
                    Action
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    @{
                        decimal CNYAmount = (Convert.ToDecimal(7.07) * @item.AmountReceived);
                    }
                    <td style="width:38px!important;text-align:center;vertical-align:middle!important;">
                        <input type="checkbox" class="checkboxSelect" />
                        <input type="text" style="display:none" value="@item.ShipmentId" class="ShipmentIdForTracking" />

                    </td>
                    <td>
                        @if (item.Type == "casepack")
                        {
                            <a style="cursor:pointer" href="../ShipmentCasePack/viewShipment?ShipmentId=@item.ShipmentId" target="_blank">@item.ShipmentId</a>
                            <label>&nbsp; CasePack</label>
                        }
                        else
                        {
                            <a style="cursor:pointer" href="../Shipment/Shipmentindex?ShipmentId=@item.ShipmentId" target="_blank">@item.ShipmentId</a>
                            <label>&nbsp; Mix SKUs</label>
                        }
                        <br /> @item.ShipmentName
                    </td>
                    <td class="tbldata">
                        @string.Format("{0: MMM d, yyyy}", item.CreatedOn)
                    </td>
                    <td class="tbldata">
                        @if (item.ShippedDate != DateTime.MinValue)
                        {
                            @string.Format("{0: MMM d, yyyy}", item.ShippedDate)
                        }
                    </td>

                    <td class="tbldata">
                        @if (item.ReceivedDate != DateTime.MinValue)
                        {
                            @string.Format("{0: MMM d, yyyy}", item.ReceivedDate)
                        }
                    </td>

                    <td>
                        @item.Vendor (@item.VendorId)
                    </td>
                    @*<td>
                            @item.ShipmentName
                        </td>*@

                    <td class="tablecenteRow">@item.NoOfBoxes</td>
                    <td class="tablecenteRow">@Math.Round(@item.GrossWt, 0)</td>
                    <td class="tablecenteRow">@item.NoOfSKUs</td>
                    <td class="tablecenteRow">@item.NoOfPOs</td>
                    <td class="tablecenteRow">@item.TotalShipedQty</td>
                    <td class="tablecenteRow">@item.QtyReceived</td>
                    <td style="text-align:right;">
                        USD @string.Format("{0:N2}", @item.AmountReceived) <br /> CNY @string.Format("{0:N2}", @item.RecivedAmountCNY)
                    </td>
                    <td>
                        <a style="cursor:pointer" href="https://www.dhl.com/en/express/tracking.html?AWB='@item.TrakingNumber'&brand='@item.CourierCode'" target="_blank"> @item.CourierCode @item.TrakingNumber</a>
                        @if ((await AuthorizationService.AuthorizeAsync(User, "Access to Product Link in PO")).Succeeded)
                        {

                            @*<span class="getshipmentId" data-shipmentId="@item.ShipmentId">Edit</span>*@
                        }
                    </td>
                    <td>

                        @if (item.Status == 1)
                        {
                            <span>Open</span>
                        }
                        @if (item.Status == 2)
                        {
                            <span>In Process</span>
                        }
                        @if (item.Status == 3)
                        {
                            <span>Shipped</span>
                        }
                        @if (item.Status == 4)
                        {
                            <span>Receiving in process</span>
                        }
                        @if (item.Status == 5)
                        {
                            <span>Received</span>
                        }
                    </td>
                    <td style="min-width: 198px;width: 190px;">

                        @if (item.Status < 3)
                        {
                            @if ((await AuthorizationService.AuthorizeAsync(User, "Access to Create & Edit Shipment")).Succeeded)
                            {
                                if (item.Type == "casepack")
                                {
                                    <a href="../ShipmentCasePack/Index?ShipmentId=@item.ShipmentId" target="_blank" class="btn btn-success ml-2 btn-style" style="color:white;">Work On Shipment</a>

                                    <a notes="@item.Notes" style="cursor:pointer;" shipmentname="@item.ShipmentName" shipingId="@item.ShipmentAutoID" title="Edit Shipment" class="edit"><img src="~/Images/icon-edit-512.png" height="20" /></a>
                                }
                                else
                                {
                                    <a href="../ShipmentBox/Create?ShipmentId=@item.ShipmentId" target="_blank" class="btn btn-success ml-2 btn-style" style="color:white;">Work On Shipment</a>

                                    <a notes="@item.Notes" style="cursor:pointer;" shipmentname="@item.ShipmentName" shipingId="@item.ShipmentAutoID" title="Edit Shipment" class="edit"><img src="~/Images/icon-edit-512.png" height="20" /></a>
                                }
                            }
                    }
                    else
                    {
                        if (item.Type == "casepack")
                        {
                            <a href="../ShipmentCasePack/viewShipment?ShipmentId=@item.ShipmentId" target="_blank" class="btn btn-success ml-2 btn-style" style="color:white;">View Shipment</a>
                        }
                        else
                        {

                            <a href="../Shipment/Shipmentindex?ShipmentId=@item.ShipmentId" target="_blank" class="btn btn-success ml-2 btn-style" style="color:white;">View Shipment</a>
                        }
                    }

                        @if ((await AuthorizationService.AuthorizeAsync(User, "Access to Receive Shipment")).Succeeded)
                        {
                            if (item.Status > 2 && item.Status < 5)
                            {
                                if (item.Type == "casepack")
                                {
                                    <a href="../ShipmentCasePack/viewShipment?ShipmentId=@item.ShipmentId" target="_blank" class="btn btn-success ml-2 btn-style" style="color:white;">Receive</a>
                                }
                                else
                                {
                                    <a class="btn btn-success ml-2 btn-style" asp-controller="ShipmentProduct" asp-action="ShipementProductByBarcodeDumy" asp-route-ShipmentId="@item.ShipmentId" target="_blank">Receive</a>
                                }
                            }
                        }

                        @if (item.Status == 3 && (await AuthorizationService.AuthorizeAsync(User, "Access to Product Link in PO")).Succeeded)
                        {
                            <button shipingId="@item.ShipmentId" class="btn btn-success ml-2 btn-style btnMarkAsUnShipped">Unship</button>
                        }
                        @*<a asp-controller="ShipmentProduct" asp-action="ShipementProductByBarcodeDumy" asp-route-ShipmentId="@item.ShipmentId" title="Receive shipment" style="cursor:pointer;" target="_blank"><img src="~/Images/receivestroller-1.1s-128px.png" style="height: 24px;" value="" class="btnViewCreditDetail" /></a>*@
                        @*<a asp-controller="ShipmentProduct" asp-action="ShipementProductByBarcodeDumy" asp-route-ShipmentId="@item.ShipmentId" title="Receive shipment" style="cursor:pointer;" target="_blank">Receive</a>*@
                    </td>

                </tr>
            }


        </tbody>
    </table>

</div>


