@model PagedList.Core.IPagedList<Hld.WebApplication.ViewModels.ApprovedPriceViewModel>
@using Hld.WebApplication.Helper
@*@model IEnumerable<Hld.WebApplication.ViewModel.BestBuyOrdersViewModel>*@
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<style type="text/css">
    .maincontainer {
        background-color: #2A2B2B03;
        min-width: 1290px
    }

    .table-bordered thead th, .table-bordered thead td {
        padding: 0px;
        border-bottom-width: 2px;
    }

    .table thead th {
        vertical-align: middle !important;
        border-bottom: 2px solid #DEE2E6;
        text-align: center;
    }

    .table th, .table td {
        padding: 0.40rem;
        vertical-align: top;
        border-top: 1px solid #DEE2E6;
        vertical-align: middle !important;
    }

    .table tbody tr:hover {
        background-color: #F5F5F5;
    }

    .table td {
        text-align: center;
    }

    .table thead tr th {
        position: sticky;
        top: 50px;
        padding: 5px;
        z-index: 2;
        background-color: lightgray;
    }

        .table thead tr th:nth-of-type(1) {
            background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
            /*background-color: lightgray !important;*/
            /*background: none !important;*/
            background-image: none !important;
            cursor: not-allowed;
        }
        .table thead tr th:nth-of-type(4) {
            background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
            /*background-color: lightgray !important;*/
            /*background: none !important;*/
            background-image: none !important;
            cursor: not-allowed;
        }
        .table thead tr th:nth-of-type(6) {
            background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
            /*background-color: lightgray !important;*/
            /*background: none !important;*/
            background-image: none !important;
            cursor: not-allowed;
        }
        .table thead tr th:nth-of-type(7) {
            background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
            /*background-color: lightgray !important;*/
            /*background: none !important;*/
            background-image: none !important;
            cursor: not-allowed;
        }
        .table thead tr th:nth-of-type(9) {
            background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
            /*background-color: lightgray !important;*/
            /*background: none !important;*/
            background-image: none !important;
            cursor: not-allowed;
        }
    .tablesorter-default .tablesorter-header {
        outline: none !important;
    }
    .table {
        border-left: #ccc 1px solid !important;
        border-right: #ccc 1px solid !important;
    }
</style>
<div class="container-fluid mt-3 maincontainer">
    @*<div class="table-responsive">*@
    <table class="table  tablesorter">
        <thead style="background-color:lightgray;">
            <tr>
                <th>Image</th>
                <th>Vendor</th>

                <th style="text-align:left;padding-left: 20px!important;">SKU</th>
                <th style="text-align: left;
    padding: 4px;width: 40%;">Product Title</th>

                <th>
                    Unit Price
                </th>
                <th>
                    Unit Price <br />
                    USD  <img src="~/Images/country.png" style="height:17px;width:20px" />
                </th>
                <th>
                    Unit Price <br />
                    CAD  <img src="~/Images/canadaflag.png" style="height:10px;width:20px" />
                </th>
                <th>
                    Date
                </th>
                @if ((await AuthorizationService.AuthorizeAsync(User, "Access to Product Link in PO")).Succeeded)
                {
                    <th>
                        Action
                    </th>
                }

                </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @{
                        <a target="_blank" href="@ViewBag.S3BucketURL_large/@item.ImageName">
                            <img src="@ViewBag.S3BucketURL/@item.CompressedImage" class="rounded" height="50" width="50" />
                        </a>
                    }
                </td>

                <td style="text-align:left;">@item.VendorAlias (@item.VendorId)</td>

                <td style="text-align:left;">
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Access to Product Link in PO")).Succeeded)
                    {
                        <a style="padding-left:18px;cursor:pointer" asp-action="PropertyPage" asp-controller="BestBuyProduct" asp-route-ProductSKU="@item.SKU" target="_blank">@item.SKU</a>
                        <a style='margin-left:5px; cursor: pointer;' href="/PurchaseOrder/GetPOProduct?VendorID=&SKU=MTV-01-RD&EmptyFirstTime=No&POID=&title=&ItemType=&orderDateTimeFrom=&orderDateTimeTo=" target='_blank'>
                            <img src='~/Images/ok-1.1s-128px.png' class='rounded' height='25'>
                        </a>
                        }
                    else
                    {
                        <span>@item.SKU</span>

                    }

                </td>

                <td style="text-align:left">@item.ProductTitle</td>

                <td>
                    <span> @item.Currency</span> @string.Format("{0:N2}", item.ApprovedUnitPrice)
                    @if (item.History)
                    {<a asp-action="ApprovedPriceLogs" target="_blank" asp-controller="ApprovedPrice" asp-route-SKU="@item.SKU">
                            <img src="~/Images/conversation156px.png" height="15" />
                        </a>}
                </td>
                <td>  @string.Format("{0:N2}", item.USD)</td>
                <td>  @string.Format("{0:N2}", item.CAD)</td>
                <td>


                    @string.Format("{0: MMM d, yyyy}", item.Date)
                </td>
                @if ((await AuthorizationService.AuthorizeAsync(User, "Access to Product Link in PO")).Succeeded)
                {
                    <td>  @Html.ActionLink("Edit", "Edit", new { id = item.idApprovedPrice })</td>
                }
                </tr>
            }
        </tbody>
    </table>
    @*</div>*@
</div>

