@model IEnumerable<Hld.WebApplication.ViewModel.GetDataForBulkUpdatejobViewModel>

@{
    ViewData["Title"] = "GetDataListForBulkUpdate";
}

<h6>Bulk Update</h6>
<div class="container-fluid p-0">
    <table class="table table-bordered">
        <thead style="background-color:lightgray">
            <tr>
                <th>
                    Job ID
                </th>
                <th>
                    SKU
                </th>
                <th>

                    Job Type
                </th>
                <th>
                    File Name
                </th>
                @*<th>
                    FileDirectory
                </th>*@

                <th>
                    Status
                </th>

                <th>
                    Creation Date
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                   
                    @if (item.QueuedJobLink.Length >= 6)
                    {
                        <span style="text-decoration:underline;cursor:pointer"><a href="https://lp.cwa.sellercloud.com/Settings/QueuedJob.aspx?JobId=@item.QueuedJobLink&MerchantID=512" target="_blank" style="vertical-align: sub;cursor:pointer">@item.QueuedJobLink.Substring(item.QueuedJobLink.Length - 6)</a></span>
                    }
                    else
                    {
                        <span></span>
                    }
                </td>
                <td>
                    @item.ProductSku
                </td>
                <td>
                    @item.JobType
                </td>
                <td>
                    @Html.ActionLink(item.FileName, "DownloadformS3", "UploadFilesToS3ForJobs", new { file = item.FileName, bucket = item.FileDirectory })
                    @*@item.FileName*@

                </td>
                @*<td>
                   
                    @item.FileDirectory
                </td>*@
                <td>
                    @item.Status
                </td>
                <td>
                    @string.Format("{0: MMM d, yyyy}", @item.CreationDate)
                </td>


            </tr>
            }
        </tbody>
    </table>
</div>