@model Hld.WebApplication.ViewModel.GetParentSkuById

@{
    ViewData["Title"] = "GetproductById";
}

<link href="~/lib/jQuery-MultiSelect/jquery.multiselect.css" rel="stylesheet" />
<link href="~/select2/css/select2.min.css" rel="stylesheet" />

<link href="~/css/date-range-picker/daterangepicker.css" rel="stylesheet" />

<style>

    .btngocalss {
        box-shadow: none !important;
        border: none !important;
        padding: 4px !important;
        border-radius: 2px !important;
    }

    /* .select2-container >*/ .GoToURL {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        width: 215px !important;
        position: relative;
        vertical-align: middle;
    }

    form {
        margin: 20px 0;
    }

    .hidedialogbox {
        font-family: Arial;
        position: absolute;
        top: 1000px;
        width: 1000px;
        height: auto;
    }

    form input, button {
        padding: 5px;
    }

    .form-group {
        margin-bottom: 0px !important;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid #cdcdcd;
    }



    .warning {
        border: 1px solid red;
    }

    .myclass {
        position: fixed;
        top: 25%;
        left: 85%;
        color: green;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }

    .mydelte {
        position: fixed;
        top: 25%;
        left: 85%;
        color: red;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }

    .colorhead {
        color: #548b8d;
    }

    .btn-style {
        padding: 3px;
        font-size: 11px;
    }

    .nav-custom-link {
        vertical-align: sub;
        margin-left: 13px;
    }

    .nav-custom-link-box {
        vertical-align: sub;
        margin-left: 5px;
    }

    .hideclass {
        top: 1000px;
    }

    .table {
        border-left: #ccc 1px solid !important;
        border-right: #ccc 1px solid !important;
        border-bottom: #ccc 1px solid !important;
    }

    .form-control {
        padding: 0px;
    }

    input[type="file"] {
        display: block;
    }

    .imageThumb {
        height: 75px;
        width: 75px;
        padding: 1px;
        cursor: pointer;
    }

    .pip {
        display: inline-block;
        margin: 10px 10px 0 0;
    }

    .remove {
        width: 75px;
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
    }

        .remove:hover {
            background: white;
            color: black;
        }

    .requiredCustomClass {
        color: red;
    }

    .col-sm-3, .col-sm-8 {
        padding-right: 3px;
    }

    .form-control {
        box-shadow: none !important;
    }

    .btn {
        vertical-align: initial !important;
    }

    .warning {
        border: 1px solid red;
    }

    .mydelte {
        position: fixed;
        top: 25%;
        left: 85%;
        color: red;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }

    .myclass {
        position: fixed;
        top: 17%;
        left: 90%;
        color: green;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }

    .myclasscancel {
        position: fixed;
        top: 17%;
        left: 90%;
        color: black;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }

    .image-upload {
        width: 50px;
        height: 50px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
    }

    .image-uploadshadow {
        width: 25px;
        height: 25px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
    }

    .image-upload > input {
        display: none;
        cursor: pointer;
    }

    .file-input input[type="file"] {
        cursor: pointer;
    }

    .input-label {
        cursor: pointer;
    }

    img {
        cursor: pointer !important;
    }

    .imgupload {
        margin: 0 auto;
        width: 50px;
        height: 50px;
        border-radius: 3px;
        cursor: pointer !important;
        display: block;
    }

    .imguploadshadow {
        margin: 0 auto;
        width: 25px;
        height: 25px;
        border-radius: 3px;
        cursor: pointer !important;
        display: block;
    }

    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 26px !important;
        user-select: none;
        -webkit-user-select: none;
    }

    .select2-container--default .select2-results > .select2-results__options {
        max-height: 350px !important;
        overflow-y: auto;
    }

    .hidedialogbox {
        font-family: Arial;
        position: absolute;
        top: 2000px;
        width: 1000px;
        height: auto;
    }

    .mydlete {
        position: fixed;
        top: 17%;
        left: 70%;
        color: red;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }

    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        opacity: .9;
        background-color: rgb(249,249,249);
    }

        .loader img {
            top: 50%;
            position: absolute;
            left: 50%;
            margin: 0;
            margin-right: -50%;
            transform: translate(-50%,-50%);
        }
</style>

<div class="loader">
    <img src="~/Images/giffff.gif" />
</div>

<div class="container-fluid" style="margin-bottom:40px">
    <div class="card mt-5">
        <div style="padding:0px" class="card-header">
            <b style="vertical-align: sub; margin-left: 13px;">Add Multiple SKU</b>

        </div>
        <div class="row ml-0">

            <div class="col-4 mt-2 mb-2">

                <div class="mt-2" style="">
                    <label class="control-label mb-0 colorhead"><b>Parent SKU:</b></label>
                    <span class="AddSku">@Model.Sku</span>

                </div>
            </div>
            <div class="col-8 mt-2 mb-2">
                <div class="mt-2" style="">
                    <label class="control-label mb-0 colorhead"><b>Title:</b></label>
                    <span class="AddTitle">@Model.ProductTitle</span>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="col col-md-6" style="float: right;">
    <div style="float: right; display: flex;margin-bottom: 5px;" class="">

        <select class="js-example-basic-single GoToURL" id="ActionMenu" name="state">

            <option value="">Select</option>
            <option value="CreateShadow">Create Shadow</option>
            <option value="CreateProductOnSellerCloud">Create Product On SellerCloud</option>
            <option value="ImageUpdateOnSellerCloud">Update Image On SellerCloud</option>
            <option value="CreateKits">Create Kits</option>
        </select>
        <button class=" btn-success btngocalss" id="btnGoOrder">Go</button>
    </div>

</div>
<div class="container-fluid" style="padding: 0; margin-bottom: 100px;">

    <div class="" style="padding:0">
        <label class="" style="font-weight:bold;margin-left:15px">
            Products

        </label>
        <div class="col-sm-12">
            <table class="FirstTable table table-bordered ">
                <thead style="background-color:lightgray">
                    <tr>
                        <th style="width:0.1%"><input type="checkbox" class="" id="headerCheckBox" /></th>
                        <th style=" width: 10%;">Image</th>
                        <th style=" width: 10%;">Color  <span class="requiredCustomClass" style="">*</span></th>
                        <th style=" width: 15%;">SKU <span class="requiredCustomClass">*</span></th>
                        <th style="width: 30%;">Title</th>
                        <th>UPC</th>
                        <th style="width: 9%;">Status</th>
                        <th style="width:10%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.list)
                    {
                        @if (item.ShadowOff == "")
                        {

                            <tr>
                                <td> <input type="checkbox" class="checkboxes" id="checkbox" @*disabled="@(item.IsCreatedOnSC==1)"*@ /></td>
                                <td>
                                    <div>
                                        <img src="~/Images/cross.jpg" height="15px" width="15px" style="float:right;cursor:pointer" class="delteimg" />

                                    </div>
                                    @if (String.IsNullOrEmpty(item.CompressedImage))
                                    {

                                        <div class="image-upload">


                                            <label class="input-label">
                                                <img class="imgupload" src="/Images/img-icon-2.jpg" id="uploader" />
                                            </label>
                                            <input id="file-input" type="file" />
                                        </div>


                                    }
                                    else
                                    {
                                        <div class="image-upload">
                                            @*<a target="_blank" href="@ViewBag.S3BucketURL_large/@item.ImageName">
                                                    <img src="@ViewBag.S3BucketURL/@item.CompressedImage" class="rounded" height="50" width="50" />
                                                </a>*@
                                            <label class="input-label">
                                                <a target="_blank" href="@ViewBag.S3BucketURL_large/@item.ImageName">
                                                    <img src="@ViewBag.S3BucketURL/@item.CompressedImage" class="rounded imgupload" height="50" width="50" id="uploader" />
                                                </a>
                                            </label>
                                            <input id="file-input" type="file" />
                                        </div>
                                    }
                                    <input type='text' style="display:none" class='form-control IsCreatedOnSC' value='@item.IsCreatedOnSC'>

                                    <input type='text' style="display:none" class='form-control ColorAlias' name="ColorAlias" value=''>
                                    <input type='text' style="display:none" class='form-control AddSku' value='@item.Sku' id="SKU">
                                    <input type='text' style="display:none" class='form-control productstatus' value='@item.title'>
                                    <input type='text' style="display:none" class='form-control CompanyId' value='@item.CompanyId'>
                                    <input type='text' style="display:none" class='form-control product_id' value='@item.Parentproduct_id'>
                                    <input type='text' style="display:none" class='form-control child_id' value='@item.Childproduct_id'>
                                    <input type='text' style="display:none" class='form-control ColorId' value='@item.ColorIds'>
                                    <input type="text" class="form-control AddColor" id="Color" name="Color" placeholder="Color" style="display:none" value='@item.Colorname' readonly />
                                </td>
                                <td>
                                    <input type="search" class="form-control AddColor" id="Color" name="Color" placeholder="Color" value='@item.Colorname' readonly />
                                    <span style="color:red;padding-left:0px;" id="empty-message-Color"></span>
                                    @*@Html.HiddenFor(e => Model.ColorId, htmlAttributes: new { @id = "ColorIdForMessage" })*@


                                </td>
                                <td>
                                    <input type="text" class="form-control AddSku" placeholder="SKU" value='@item.Sku' readonly id="SKU" />
                                    <span asp-validation-for="Sku" class="text-danger"></span>
                                    @*<span class="requiredCustomClass">*</span>*@
                                    <span class="IsExistsSKU" style="padding-left:4px;padding-right:4px;"></span>
                                    <span style="margin-left:60px;" id="SKUCounter"></span>
                                </td>
                                <td><input type="text" class="form-control AddTitle" placeholder="Title" value='@item.title' readonly /></td>
                                <td><input type="text" class="form-control AddUpc" placeholder="UPC" value="@item.upc" readonly /></td>
                                <td>

                                    @if (@item.IsCreatedOnSC == 1)
                                    {
                                        <span style="color:green;font-weight:bold">Created on SC</span>
                                    }
                                    else
                                    {
                                        <span></span>
                                    }
                                </td>
                                <td>
                                    <button type='button' class='btn btn-sm btn-success submit' style="display:none;" value=''>Save</button>
                                    <button type='button' class='btn btn-sm btn-success edit' value=''>Edit</button>
                                    <button type='button' class='btn btn-sm delete' data-id='' style='' value=''><img src='/Images/trash-can-1.1s-128px.png' height='25' /></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <button class=" btn btn-primary btn-style " id="btnAddItem" value="" style="box-shadow:none;float:left"> Add Item</button>
            @*<input type="submit" name="action" id="InputSubmit" value="Submit" class="btn btn-primary" style="float:right" />*@
            <button class=" btn btn-success" id="btnSave" value="" style="box-shadow: none;
        float: right;
        margin-left: 3px">
                Save
            </button>
        </div>
    </div>
</div>

<div class="hidedialogbox ">
    <div id="dialog-box">
        <h6 style="color:red">Do you want to delete this reocord!</h6>
    </div>
    <div id="dialog-boximg">
        <h6 style="color:red">Do you want to delete this Image!</h6>
    </div>
</div>
<div class="col col-md-6" style="float: right;">
    <div style="float: right; display: flex;margin-bottom: 5px;" class="">

        <select class="js-example-basic-single GoToURL" id="ActionMenuShadow" name="state">

            <option value="">Select</option>
            <option value="Realated">Create Shadow Relation on SC</option>
            <option value="BulkUpdate">Bulk Update</option>

        </select>
        <button class=" btn-success btngocalss" id="btnGoOrderShadow">Go</button>
    </div>

</div>
<div class="container-fluid">
    <label class="" style="font-weight:bold;">Shadows</label>
    <table class="SecondTableShadow table table-bordered">
        <thead style="background-color:lightgray">
            <tr>
                <th style="width:0.1%"><input type="checkbox" class="" id="headerCheckBoxShadow" /></th>
                <th>Image</th>
                <th>SKU</th>
                <th>Shadows</th>
                <th>Company</th>
                <th>Amz Merchant SKU</th>
                <th>Amazon Enabled</th>
                <th>ASIN</th>
                <th>Fulfilled By</th>
                <th>Amz FBA SKU</th>
                <th>Website Enabled</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="abs">
           @{ 
               var skutemp = "";
               @foreach (var item in Model.list)
            {




                @if (item.ShadowOff != "")
                {
            <tr>
                <td> <input type="checkbox" class="checkboxesShadow" id="checkbox" /></td>
                <td>
                    @*<div>
                <img src="~/Images/cross.jpg" height="15px" width="15px" style="float:right;cursor:pointer" class="delteimg" />

            </div>*@


                    <input type='text' style="display:none" class='form-control ColorAlias' name="ColorAlias" value=''>
                    <input type='text' style="display:none" class='form-control AddSku' value='@item.Sku' id="SKU">
                    <input type='text' style="display:none" class='form-control productstatus' value='@item.title'>
                    <input type='text' style="display:none" class='form-control product_id' value='@item.Parentproduct_id'>
                    <input type='text' style="display:none" class='form-control child_id' value='@item.Childproduct_id'>
                    <input type='text' style="display:none" class='form-control ColorId' value='@item.ColorIds'>
                    <input type="text" class="form-control AddColor" id="Color" name="Color" placeholder="Color" style="display:none" value='@item.Colorname' readonly />
                </td>
                @{
                    if (skutemp != item.ShadowOff)
                    {
                        skutemp = item.ShadowOff;


                        <td>
                            <input type="text" class="form-control ShadowOff" placeholder="SKU" value='@skutemp' readonly id="SKU" style="border:none;background-color:white" />

                        </td>
                    }
                    else
                    {
                        <td>
                            @*<input type="text" class="form-control ShadowOff" placeholder="SKU" value='@skutemp' readonly id="SKU" style="border:none;background-color:white" />*@

                        </td>
                    }
                }

                <td> <input type="text" class="form-control AddSku shadowsku" placeholder="SKU" value='@item.Sku' readonly id="SKU" style="border:none;background-color:white" /></td>

                <td>

                    @item.CompanyName
                    @item.CompanyId


                </td>

                @if (item.CompanyId == 520)
                {
                    <td>
                        <input type="text" class="form-control AmazonMerchantSKU" value="@item.Sku" @item.AmazonMerchantSKU name="AmazonMerchantSKU" readonly />

                    </td>
                    <td>
                        @*<input type="text" class="form-control AmazonEnabled" value=" @item.AmazonEnabled" />*@
                        <select asp-for="@item.AmazonEnabled" class="form-control form-control AmazonEnabled" style="" id="AmazonEnabled" disabled>
                            <option value="" selected disabled hidden>AmazonEnabled</option>
                            <option value="TRUE" selected>TRUE</option>
                            <option value="FALSE">FALSE</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control ASIN" value="@item.ASIN" name="ASIN" readonly />
                    </td>
                    @if (item.CompanyId == 512 || item.CompanyId == 513)
                    {
                        <td>
                            <input type="text" class="form-control FulfilledBy" value="Amazon" @item.FulfilledBy name="FulfilledBy" />
                        </td>
                    }
                    else
                    {
                        <td>
                            <input type="text" class="form-control FulfilledBy" value="Merchant" @item.FulfilledBy name="FulfilledBy" readonly />
                        </td>
                    }
                    <td>
                        <input type="text" class="form-control AmazonFBASKU" value="Amazon" @item.AmazonFBASKU name="AmazonFBASKU" readonly />
                    </td>
                    <td>
                        <select asp-for="@item.WebsiteEnabled" class="form-control form-control WebsiteEnabled" style="" id="WebsiteEnabled" disabled>
                            <option value="" selected disabled hidden>WebsiteEnabled</option>
                            <option value="TRUE">TRUE</option>
                            <option value="FALSE" selected>FALSE</option>
                        </select>
                    </td>
                }
                else
                {
                    <td>
                        <input type="text" class="form-control AmazonMerchantSKU" value="@item.Sku" @item.AmazonMerchantSKU name="AmazonMerchantSKU" />

                    </td>
                    <td>
                        @*<input type="text" class="form-control AmazonEnabled" value=" @item.AmazonEnabled" />*@
                        <select asp-for="@item.AmazonEnabled" class="form-control form-control AmazonEnabled" style="" id="AmazonEnabled">
                            <option value="" selected disabled hidden>AmazonEnabled</option>
                            <option value="TRUE" selected>TRUE</option>
                            <option value="FALSE">FALSE</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control ASIN" value="@item.ASIN" name="ASIN" />
                    </td>
                    @if (item.CompanyId == 512 || item.CompanyId == 513)
                    {
                        <td>
                            <input type="text" class="form-control FulfilledBy" value="Amazon" @item.FulfilledBy name="FulfilledBy" />
                        </td>
                    }
                    else
                    {
                        <td>
                            <input type="text" class="form-control FulfilledBy" value="Merchant" @item.FulfilledBy name="FulfilledBy" readonly />
                        </td>
                    }
                    @*<td>
                <input type="text" class="form-control FulfilledBy" value="Merchant" @item.FulfilledBy name="FulfilledBy" />



            </td>*@
                    <td>
                        <input type="text" class="form-control AmazonFBASKU" value="Amazon" @item.AmazonFBASKU name="AmazonFBASKU" />


                    </td>
                    <td>

                        <select asp-for="@item.WebsiteEnabled" class="form-control form-control WebsiteEnabled" style="" id="WebsiteEnabled">
                            <option value="" selected disabled hidden>WebsiteEnabled</option>
                            <option value="TRUE">TRUE</option>
                            <option value="FALSE" selected>FALSE</option>
                        </select>
                    </td>

                }

                <td>

                    @if (@item.IsCreatedOnSC == 1)
                    {
                        <span style="color:green;font-weight:bold">Created on SC</span>
                    }
                    else
                    {
                        <span></span>
                    }<br />

                    <span style="text-decoration:underline;cursor:pointer"><a href="https://lp.cwa.sellercloud.com/MyAccount?=@item.IsRelated" target="_blank" style="vertical-align: sub;cursor:pointer">JobId=@item.IsRelated.Substring(@item.IsRelated.Length - 6)</a></span>
                </td>
                <td>

                    <button type='button' class='btn btn-sm btn-success submitSave' style="display:none;" value=''>Save</button>
                    <button type='button' class='btn btn-sm btn-success editUpdate' value=''>Update</button>
                </td>
            </tr>
                            }


                            }
                            }
        </tbody>
    </table>
    @*<button class=" btn btn-success" id="btnUpdate" value="" style="box-shadow: none;
        float: right;
        margin-left: 3px">
        Update
    </button>*@
</div>
<div class="modal fade" id="CreaedShadow" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">

            <!-- Modal Header -->
            <div class="modal-header">

                <strong>
                    <i class="fa fa-check" style="color:green"></i><span style="vertical-align: text-top;margin-left: 4px;
">Success!</span>
                </strong>


                <button type="button" class="close closeimg" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body myclassshide" style="padding-left:0!important;">
                <p class="modal-title" style=" padding-left: 15px;">
                    Shadow Relation Updated Successfully!
                </p>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default closeimg" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModalerror" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">

            <!-- Modal Header -->
            <div class="modal-header">

                <strong>
                    <i class="fa fa-check" style="color:green"></i><span style="vertical-align: text-top;margin-left: 4px;
">Success!</span>
                </strong>


                <button type="button" class="close closeimg" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body myclassshide" style="padding-left:0!important;">
                <p class="modal-title" style=" padding-left: 15px;">
                    Product Image Delete Successfully!
                </p>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default closeimg" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModalerrorCreaedShadow" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">

            <!-- Modal Header -->
            <div class="modal-header">

                <strong>
                    <i class="fa fa-check" style="color:green"></i><span style="vertical-align: text-top;margin-left: 4px;
">Success!</span>
                </strong>


                <button type="button" class="close closeimg" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body myclassshide" style="padding-left:0!important;">
                <p class="modal-title" style=" padding-left: 15px;">
                    Product Shadow Created Successfully!
                </p>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default closeimg" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModalerrorCreaedShadowerror" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">

            <!-- Modal Header -->
            <div class="modal-header">

                <strong>
                    <i class="fa fa-exclamation-triangle" style="color:red"></i><span style="vertical-align: text-top;margin-left: 4px;
">Wrong!</span>
                </strong>


                <button type="button" class="close closeimg" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body myclassshide" style="padding-left:0!important;">
                <p class="modal-title" style=" padding-left: 15px;">
                     Shadows already created against this Child SKU!
                </p>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default closeimg" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModalerrorCreaedShadowSellerCloud" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">

            <!-- Modal Header -->
            <div class="modal-header">

                <strong>
                    <i class="fa fa-check" style="color:green"></i><span style="vertical-align: text-top;margin-left: 4px;
">Success!</span>
                </strong>


                <button type="button" class="close closeimg" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body myclassshide" style="padding-left:0!important;">
                <p class="modal-title" style=" padding-left: 15px;">
                    Created Order On sellerCloud Successfully!
                </p>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default closeimg" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModalerrorCreaedShadowSellerClouderr" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">

            <!-- Modal Header -->
            <div class="modal-header">

                <strong>
                    <i class="fa fa-exclamation-triangle" style="color:red"></i><span style="vertical-align: text-top;margin-left: 4px;
">Wrong!</span>
                </strong>


                <button type="button" class="close closeimg" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body myclassshide" style="padding-left:0!important;">
                <p class="modal-title" style=" padding-left: 15px;">
                    @TempData["status"]
                    Product created on sellercloud.
                </p>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default closeimg" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="AlreadycreatedonSellerCloud" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">

            <!-- Modal Header -->
            <div class="modal-header">

                <strong>
                    <i class="fa fa-exclamation-triangle" style="color:red"></i><span style="vertical-align: text-top;margin-left: 4px;
">Wrong!</span>
                </strong>


                <button type="button" class="close closeimg" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body myclassshide" style="padding-left:0!important;">
                <p class="modal-title" style=" padding-left: 15px;">
                    Already Created On SellerCloud
                </p>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default closeimg" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModalerror1" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">

            <!-- Modal Header -->
            <div class="modal-header">

                <strong>
                    <i class="fa fa-check" style="color:green"></i><span style="vertical-align: text-top;margin-left: 4px;
">Success!</span>
                </strong>


                <button type="button" class="close closeimg" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body myclassshide" style="padding-left:0!important;">
                <p class="modal-title" style=" padding-left: 15px;">
                    Image Uploaded Successfully!
                </p>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default closeimg" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="UpdatedImage" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">

            <!-- Modal Header -->
            <div class="modal-header">

                <strong>
                    <i class="fa fa-check" style="color:green"></i><span style="vertical-align: text-top;margin-left: 4px;
">Success!</span>
                </strong>


                <button type="button" class="close closeimg" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body myclassshide" style="padding-left:0!important;">
                <p class="modal-title" style=" padding-left: 15px;">
                    Image Updated On SellerCloud Successfully!
                </p>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default closeimg" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModalerrorchil" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">

            <!-- Modal Header -->
            <div class="modal-header">

                <strong>
                    <i class="fa fa-check" style="color:green"></i><span style="vertical-align: text-top;margin-left: 4px;
">Success!</span>
                </strong>


                <button type="button" class="close closeimg" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body myclassshide" style="padding-left:0!important;">
                <p class="modal-title" style=" padding-left: 15px;">
                    Child Product Deleted Successfully!
                </p>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default closeimg" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModalerror1update" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">

            <!-- Modal Header -->
            <div class="modal-header">

                <strong>
                    <i class="fa fa-check" style="color:green"></i><span style="vertical-align: text-top;margin-left: 4px;
">Success!</span>
                </strong>


                <button type="button" class="close closeimg" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body myclassshide" style="padding-left:0!important;">
                <p class="modal-title" style=" padding-left: 15px;">
                    Product Updated Successfully!
                </p>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default closeimg" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="optionselectfirst" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">

            <!-- Modal Header -->
            <div class="modal-header">

                <strong>
                    <i class="fa fa-exclamation-triangle" style="color:red"></i><span style="vertical-align: text-top;margin-left: 4px;
">Wrong!</span>
                </strong>


                <button type="button" class="close closeimg" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body myclassshide" style="padding-left:0!important;">
                <p class="modal-title" style=" padding-left: 15px;">
                    Please select a option first
                </p>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default closeimg" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="bulkupdated" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">

            <!-- Modal Header -->
            <div class="modal-header">

                <strong>
                    <i class="fa fa-check" style="color:green"></i><span style="vertical-align: text-top;margin-left: 4px;
">Success!</span>
                </strong>


                <button type="button" class="close closeimg" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body myclassshide" style="padding-left:0!important;">
                <p class="modal-title" style=" padding-left: 15px;">
                    Bulk Updated Successfully!
                </p>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default closeimg" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/sticky-table-headers/js/jquery.stickytableheaders.min.js"></script>
    <script src="~/lib/jQuery-Paging/jquery.paging.min.js"></script>
    <script src="~/lib/jQuery-MultiSelect/jquery.multiselect.js"></script>
    <script src="~/select2/js/select2.full.min.js"></script>

    <script src="~/lib/date-range-picker/moment.min.js"></script>
    <script src="~/lib/date-range-picker/daterangepicker.js"></script>

    <script src="~/lib/jquery.tablesorter/js/jquery.tablesorter.min.js"></script>


    <script>
        $(document).ready(function () {
            $(".loader").hide();

            var editable = false;
            $(document).on("click", ".editUpdate", function () {
               
                
                //var selectedRow = $(this).parents('tr');
                //editable = true;

               

                //$(selectedRow).find('#AmazonEnabled').prop('disabled', false);
                //$(selectedRow).find('#AmazonEnabled').prop('disabled', 'disabled');


                ////$(selectedRow).find('#WebsiteEnabled').prop('disabled', 'disabled');
                ////$(selectedRow).find('#WebsiteEnabled').prop('disabled', false);     
                
                //$(selectedRow).find('.ASIN').prop('readonly', false);
                //$(selectedRow).find('.FulfilledBy').prop('readonly', false);
                //$(selectedRow).find('.AmazonFBASKU').prop('readonly', false);
                //$(selectedRow).find('.AmazonMerchantSKU').prop('readonly', false);               
                //$(selectedRow).find('.editUpdate').hide();
                //$(selectedRow).find('.submitSave').show();
            });

            $("#btnUpdate").click(function () {
                var data = [];
                $(".SecondTableShadow tbody tr ").each(function () {
                    var selectedRow = $(this);
                    var Obj =
                    {
                        AmazonMerchantSKU: $(this).find(".AmazonMerchantSKU").val(),
                        AmazonEnabled: $(this).find(".AmazonEnabled option:selected").val(),
                        ASIN: $(this).find(".ASIN").val(),
                        FulfilledBy: $(this).find(".FulfilledBy").val(),
                        AmazonFBASKU: $(this).find(".AmazonFBASKU").val(),
                        WebsiteEnabled: $(this).find(".WebsiteEnabled option:selected").val(),
                    };
                    data.push(Obj);

                    console.log("AmazonEnabled333355", data)

                });
                $(".loader").show();
                $.ajax({
                    type: 'post',
                    url: '../Product/BulkUpdate',
                    data: { data },
                    success: function (res) {
                        $(".loader").hide();
                        $("#bulkupdated").modal({
                            backdrop: 'static',
                            keyboard: false

                        });
                        $(".closeimg").click(function () {
                            location.reload();
                        })
                    },
                    error: function (err) {
                        $.notify('some error occured!', { classname: 'error ' });
                    }
                });
            });
           
    $('#ActionMenu').select2();
    $('#ActionMenuShadow').select2();
    $('#headerCheckBox').click(function () {
    if ($(this).is(':checked')) {
        $(".FirstTable tbody tr ").each(function () {
            var disable = $(this).find('.checkboxes').attr('disabled');
            console.log(disable);
            if (disable == "disabled")
            {

            }
            else {
                $(this).find('.checkboxes').attr('checked', true);
            }
        });
    }
    else {
        $(".FirstTable tbody tr ").each(function () {
    $(this).find('.checkboxes').attr('checked', false);
    });
    }
    });

            $('#headerCheckBoxShadow').click(function () {
                if ($(this).is(':checked')) {
                    $(".SecondTableShadow tbody tr ").each(function () {
                        var disable = $(this).find('.checkboxesShadow').attr('disabled');
                        console.log(disable);
                        if (disable == "disabled") {

                        }
                        else {
                            $(this).find('.checkboxesShadow').attr('checked', true);
                        }
                    });
                }
                else {
                    $(".SecondTableShadow tbody tr ").each(function () {
                        $(this).find('.checkboxesShadow').attr('checked', false);
                    });
                }
            });
            $(document).on('click', '#btnGoOrderShadow', function () {
                //window.open('../PredictionHistory/PredictionList', '_blank');

                var action = $('#ActionMenuShadow').val();
                if (action == "") {

                    $("#optionselectfirst").modal({
                        backdrop: 'static',
                        keyboard: false

                    });
                    $(".closeimg").click(function () {
                        location.reload();
                    })

                    //$.notify('Please select an option', { globalPosition: 'bottom right', className: 'danger mydlete' });
                    return;
                }
                if (action == "Realated") {

                    var data = [];

                    $('.SecondTableShadow tbody tr ').each(function () {
                        if ($(this).find('.checkboxesShadow').is(':checked')) {
                            var Obj =
                            {
                                ProductSKU: $(this).find('.ShadowOff').val(),


                            };
                            data.push(Obj);
                        }

                        console.log("get ShadowOff", data)

                    });
                    $(".loader").show();
                    $.ajax({
                        type: 'post',

                        url: '../product/GenerateXls',
                        data: { data },
                        success: function (res) {
                            $(".loader").hide();
                            if (res.status != "") {
                                $("#CreaedShadow").modal({
                                    backdrop: 'static',
                                    keyboard: false

                                });
                                $(".closeimg").click(function () {
                                    location.reload();
                                })
                            }
                            else {
                                alert("something went wrong")
                            }
                        }
                    });
                }

                if (action == "BulkUpdate") {

                    var data = [];

                    $('.SecondTableShadow tbody tr ').each(function () {
                        if ($(this).find('.checkboxesShadow').is(':checked')) {
                            var Obj =
                            {
                                AmazonMerchantSKU: $(this).find('.shadowsku').val(),

                            };
                            data.push(Obj);
                        }

                    });
                    console.log(" ShadowOffShadowOffShadowOff>>>", data)
                    $(".loader").show();
                    $.ajax({
                        type: 'GET',
                        url: '../BulkUpdate/BulkUpdate',
                        data: { data },
                        success: function (res) {
                            $(".loader").hide();                           
                        }
                    });
                }

            });
            $(document).on('click', '#btnGoOrder', function () {
                //window.open('../PredictionHistory/PredictionList', '_blank');

                var action = $('#ActionMenu').val();
                if (action == "") {
                    $("#optionselectfirst").modal({
                        backdrop: 'static',
                        keyboard: false

                    });
                    $(".closeimg").click(function () {
                        location.reload();
                    })
                    //$.notify('Please select an option', { globalPosition: 'bottom right', className: 'danger mydlete' });
                    return;
                }
                if (action == "CreateShadow") {

                    var data = [];

                    $('.FirstTable tbody tr ').each(function () {
                        if ($(this).find('.checkboxes').is(':checked')) {
                            var Obj =
                            {
                                Sku: $(this).find('.AddSku').val(),
                                ParentId: $(this).find('.product_id').val(),
                                ChildId: $(this).find('.child_id').val(),

                            };
                            data.push(Obj);
                        }

                        console.log("get data", data)

                    });
                    $(".loader").show();
                    $.ajax({
                        type: 'post',

                        url: '../product/ShadowCreate',
                        data: { data },
                        success: function (res) {
                            $(".loader").hide();
                            if (res == "true") {
                                console.log("responce1",res)
                                $("#myModalerrorCreaedShadow").modal({
                                    backdrop: 'static',
                                    keyboard: false

                                });
                                $(".closeimg").click(function () {
                                    location.reload();
                                })
                            }
                            else {
                                console.log("responce2", res)
                                $("#myModalerrorCreaedShadowerror").modal({

                                    backdrop: 'static',
                                    keyboard: false

                                });
                                $(".closeimg").click(function () {
                                    location.reload();
                                })
                            }

                        }
                    });
                }

                if (action == "CreateProductOnSellerCloud") {
                    debugger;
                    var data = [];


                    $('.FirstTable tbody tr ').each(function () {
                        var IsCreatedOnSC = $(this).find(".IsCreatedOnSC").val();
                        if ($(this).find('.checkboxes').is(':checked')) {
                            if (IsCreatedOnSC == 1) {
                                $("#AlreadycreatedonSellerCloud").modal({
                                    backdrop: 'static',
                                    keyboard: false
                                });
                                $(".closeimg").click(function () {
                                    location.reload();
                                })
                            }
                            else {
                                var Obj =
                                {
                                    ProductSKU: $(this).find('.AddSku').val(),
                                    ProductName: $(this).find('.AddTitle').val(),
                                };
                                data.push(Obj);
                            }
                        }

                    });
                    if (data.length == 0) {
                        $("#AlreadycreatedonSellerCloud").modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                        $(".closeimg").click(function () {
                            location.reload();
                        })

                    }
                    else {
                        $(".loader").show();
                        $.ajax({
                            type: 'post',
                            url: '../product/CreateProductOnSellerCloudAsync',
                            data: { data },
                            success: function (res) {

                                $(".loader").hide();
                                if (res > 0) {
                                    $("#myModalerrorCreaedShadowSellerCloud").modal({
                                        backdrop: 'static',
                                        keyboard: false
                                    });
                                    $(".closeimg").click(function () {
                                        location.reload();
                                    })
                                } else {
                                    $("#myModalerrorCreaedShadowSellerClouderr").modal({
                                        backdrop: 'static',
                                        keyboard: false
                                    });
                                    $(".closeimg").click(function () {
                                        location.reload();
                                    })
                                }
                            }
                        });
                    }
                }
                if (action == "ImageUpdateOnSellerCloud") {
                    debugger;
                    var data = [];

                    $('.FirstTable tbody tr ').each(function () {

                        if ($(this).find('.checkboxes').is(':checked')) {
                            var Obj =
                            {
                                ProductID: $(this).find('.AddSku').val(),

                            };
                            data.push(Obj);
                        }

                        console.log("imge sku sellercloud", data)

                    });
                    $(".loader").show();
                    $.ajax({
                        type: 'post',
                        url: '../product/ImageUpdateOnSellerCloud',
                        data: { data },
                        success: function (res) {
                            $(".loader").hide();
                            $("#UpdatedImage").modal({
                                backdrop: 'static',
                                keyboard: false
                            });
                            $(".closeimg").click(function () {
                                location.reload();
                            })
                        }
                    });
                }
            });
    $(document).on("click", ".delteimg", function () {
    var currentElem = $(this).closest('tr');
    var selectedRow = $(this);
    var ChildImage = $(selectedRow).parents('tr').find('.child_id').val();
    console.log("product idddd", ChildImage)
        $("#dialog-boximg").dialog({
    buttons: {
                "Confirm": function () {
            $(".loader").show();
    $.ajax({
    type: 'GET',
    url: '../product/DeleteChildProductChildImage?ChildImage=' + ChildImage,
        success: function (res) {
            $(".loader").hide();
        $("#dialog-boximg").dialog("close");
        selectedRow.parents('tr').remove();
        $("#myModalerror").modal({
            backdrop: 'static',
            keyboard: false

        });
        $(".closeimg").click(function () {
            location.reload();
        })
    //$.notify('Delete Image Successfully', { globalPosition: 'bottom right', className: 'danger mydelte' });

    },
    Error: function (err) {
    $.notify('No Image Found', { globalPosition: 'bottom right', className: 'danger mydelte' });
    }
    });
    currentElem.remove()
    $(this).dialog("close");
    },
    "Cancel": function () {
    $(this).dialog("close");
    }
    }
    })

        $("#dialog-boximg").dialog("open");
    });
    function readURL(input) {
    var $this = $(input);
    console.log("this", $this)

    if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
    //$this.parents(".image-upload").find("#imgupload").attr('src', e.target.result);
    $this.parents(".image-upload").find(".imgupload").attr('src', e.target.result);
    //$('#imgupload').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
    }
    }
    $(".image-upload img:first-child").click(function () {
    $(this).parent().nextAll("input").trigger("click");
    })
    $(".image-upload >input").change(function () {
    readURL(this);
    });
    function imgchage() {
    $(".image-upload >input").change(function () {
    readURL(this);
    });
    }
    function imgupload() {
    $(".image-upload img:first-child").click(function () {
    $(this).parent().nextAll("input").trigger("click");
    })
    }
            var ColorId = 0;

            function skuvaldationcolor() {
                $('input[id=Color]').change(function (e) {
                    var selectedRow = $(this).parents('tr');
                    $(selectedRow).val($(this).val().replace(/ +?/g, ''));
                    $(selectedRow).find('.AddSku').addClass('text-uppercase');
                    var remaining = 20 - $('#SKU').val().length;
                    if (e.which == 32)
                        return false;

                    $(this).parents('tr').find('#SKUCounter').text(remaining + "/" + 20);

                    var textBoxValue =  $(selectedRow).find('.AddSku').val().trim();
                    var selectedRow = $(selectedRow);
                    if (textBoxValue.length > 0) {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("CheckProductSKUExists", "Product")',
                            data: { 'name': textBoxValue },
                            success: function (data) {
                                if (data.success == true) {


                                    $(selectedRow).find('.IsExistsSKU').text("Already Exists").css("color", "red");
                                    $('#btnSave').attr("disabled", true)

                                }
                                else {
                                    $(selectedRow).find('.IsExistsSKU').text("Available").css("color", "green");
                                    $('#btnSave').attr("disabled", false)

                                }
                            }
                        });
                    }
                    else {
                        $(selectedRow).find('.IsExistsSKU').text("");
                    }
                });
            }

            function skuvaldation() {

        $('input[id=SKU]').keyup(function (e) {
        $(this).val($(this).val().replace(/ +?/g, ''));
        $(this).addClass('text-uppercase');
                var remaining = 20 - $('#SKU').val().length;
        if (e.which == 32)
        return false;

            $(this).parents('tr').find('#SKUCounter').text(remaining + "/" + 20);

                var textBoxValue = $(this).val().trim();
                var selectedRow = $(this).parents('tr');
        if (textBoxValue.length > 0) {
        $.ajax({
        type: "POST",
        url: '@Url.Action("CheckProductSKUExists", "Product")',
        data: { 'name': textBoxValue },
        success: function (data) {
            if (data.success == true) {
                $(selectedRow).find('.AddSku').trigger('change');
                $(selectedRow).find('.IsExistsSKU').text("Already Exists").css("color", "red");
                $('#btnSave').attr("disabled", true)

        }
            else {
                $(selectedRow).find('.IsExistsSKU').text("Available").css("color", "green");
                $('#btnSave').attr("disabled", false)

        }
        }
        });
        }
        else {
            $(selectedRow).find('.IsExistsSKU').text("");
        }


        });
            }
    function autocolor() {
    $('.AddColor').autocomplete({
    autoFocus: true,
    source: function (request, response) {
    $.ajax({
    url: "/Product/GetAlColorForAutoComplete",
    type: "POST",
    minLength: 3,
    dataType: "json",
    data: { Prefix: request.term },
    success: function (data, ui) {
        skuvaldationcolor();
    //if (data.length > 0) {
    response($.map(data, function (item) {
    if (item != null) {
    return { label: item.Name, value: item.Name, ColorAlias: item.ColorAlias, id: item.ID };
    }

    }));
    }
    })
    },
    select: function (event, ui) {

    $('#ColorIdForMessage').val(ui.item.id);
    $('.ColorAlias').val(ui.item.ColorAlias);
    $(this).parents('tr').find('.ColorId').val(ui.item.id);

    },
    response: function (event, ui) {
    console.dir(ui.content)
    if (ui.content.length === 0) {
    $("#empty-message-Color").text("No results found");
    $('#ColorIdForMessage').val("0");

    $('#InputSubmit').attr("disabled", true)
    } else {
    $("#empty-message-Color").empty();
    $('#InputSubmit').attr("disabled", false)
    }
    }
    });
    }

    //$('.AddColor').change(function () {
    //    var topsku = $("#SKU").val();
    //    //var AddColor = $(".AddColor").val();
    //    var title = $("#ProductTitle").val();
    //    var AddColor = $(".AddColor").val();;
    //    var res = AddColor.charAt(0)
    //    var a = AddColor.substr(AddColor.length - 1);
    //    $(this).closest('tr').find(".AddSku").val(topsku + "-" + res + a);
    //    $(this).closest('tr').find(".AddTitle").val(title + "[" + AddColor);
    //});


    $('.AddColor').change(function () {
    var topsku = $(".AddSku").html();
    var title = $(".AddTitle").html();
    //var AddColor = $(".AddColor").val();
    //var ColorAlias = $('.ColorAlias').val();
    var AddColor = $(this).closest('tr').find(".AddColor").val();

    var ColorAlias = $(this).closest('tr').find('.ColorAlias').val();
    ColorId = $(this).closest('tr').find('.ColorId').val();
    IsExistsSKU = $(this).closest('tr').find('.IsExistsSKU').val();
        console.log("gggg", ColorId);
        $(this).closest('tr').find(".AddSku").val(topsku + "-" + ColorAlias).append(IsExistsSKU);
    $(this).closest('tr').find(".AddTitle").val(title + " [ " + AddColor + " ]");
        $(this).closest('tr').find("#Color").val(AddColor);


    });
    function addsku(){
        $('.AddColor').change(function () {


    //var topsku = $("#SKU").val();
    //var title = $("#ProductTitle").val();
    var topsku = $(".AddSku").html();
    var title = $(".AddTitle").html();
    ColorId = $(this).closest('tr').find('.ColorId').val();
    console.log("gggg", ColorId);
    var AddColor = $(this).closest('tr').find(".AddColor").val();
        var ColorAlias = $(this).closest('tr').find('.ColorAlias').val();
        IsExistsSKU = $(this).closest('tr').find('.IsExistsSKU').val();
        $(this).closest('tr').find(".AddSku").val(topsku + "-" + ColorAlias).append(IsExistsSKU);
            $(this).closest('tr').find(".AddTitle").val(title + " [ " + AddColor + " ]");
            skuvaldationcolor();
    });
    }
    function AddMarkup() {

        var markup = "<tr><td><input type='checkbox' class='checkboxes' id='checkbox' /></td><td><div class='image-upload'><label class='input-label'><img class='imgupload' src='/Images/img-icon-2.jpg' id='uploader' /></label><input id='file-input' type='file' /></div><input type='text' style='display:none' class='form-control product_id' value='" +@Model.Parentproduct_id+"'><input type='text' style='display:none' class='form-control child_id' value=''><input type='text' style='display:none' class='form-control productstatus' value='" +@Model.productstatus+"'><input type='text' style='display: none' class='form-control ColorId' value=''><input type='text' style='display:none' class='form-control ColorAlias' name='ColorAlias' value=''><input type='text' style='display:none' class='form-control AddSku' value='' id='SKU'></td><td><input type='search' class='form-control AddColor' id='Color' name='Color' placeholder='Color' /><span style='color:red;padding-left:0px;' id='empty-message-Color'></span></td><td><input type='text' class='form-control AddSku' placeholder='SKU' id='SKU'/><span class='IsExistsSKU' style='padding-left:4px;padding-right:4px;'></span><span style='margin-left:60px;' id='SKUCounter'></span><input type='text' style='display:none' class='form-control AddSku' value=''></td><td><input type='text' class='form-control AddTitle' placeholder='Title' /></td><td><input type='text' class='form-control AddUpc' placeholder='UPC' /></td><td class=''></td><td><button type='button' class='btn btn-sm btn-success submit btnclass' value='' style='margin-right:4px!important;display:none'>Save</button><button type='button' class='btn btn-sm btn-success edit btnclass' style='display:none;margin-right:4px!important;' value=''>Edit</button><button type='button' class='btn btn-sm delete' data-id='' style='' value=''><img src='/Images/trash-can-1.1s-128px.png' height='25' /></button></td></tr>";
        $(".FirstTable tbody").append(markup);


    }
    var count = 0;
    $("#btnAddItem").click(function() {
        $('.submit').hide();
    count++;
    if (count<1) {
                 AddMarkup()
                 autocolor();
                 addsku();
        imgchage();
        imgupload();
        skuvaldation();
        skuvaldationcolor();
                 }
        var tbody_tr_last = $('.FirstTable> tbody>tr:last');
        var color = tbody_tr_last.find(".AddColor").val();
        var sku = tbody_tr_last.find(".AddSku").val();
        var title = tbody_tr_last.find(".AddTitle").val();
        //<span class='requiredCustomClass' style='float:right;'>*</span>
        if (color != '' && sku != '' && title != '') {
        AddMarkup()
        autocolor();
        addsku();
        imgupload()
            imgchage();
            skuvaldation();
            skuvaldationcolor();
        }
        else {
        if (color == '') {
        tbody_tr_last.find(".AddColor").addClass('warning')
        }
        if (sku == '') {
        tbody_tr_last.find(".AddSku").addClass('warning')
        }
        if (title == '') {
        tbody_tr_last.find(".AddTitle").addClass('warning')
        }
        }
        });
        //new work


        //end

        $(document).on("input", "table input", function () {
        if ($(this).val() == "") {
        $(this).addClass("warning")
        } else {
        $(this).removeClass("warning")

        }
        })
        if ($('#HfProductId').length > 0) {
        $.get('/Product/ShowImages/' + $('#HfProductId').val() + '').done(function (response) {
        $('#imagesDivMainView').html(response);
        });
        }

        $(document).on('click', '#btnSave', function () {

        var data = [];
            $('.FirstTable tbody tr ').each(function () {
        var Obj =
        {
        Sku: $(this).find('.AddSku').val(),
        Parentproduct_id: $(this).find('.product_id').val(),
        Childproduct_id: $(this).find('.child_id').val(),
        productstatus: $(this).find('.productstatus').val(),
        title: $(this).find(".AddTitle").val(),
        upc: $(this).find(".AddUpc").val(),
        ColorIds: $(this).find(".ColorId").val(),
        };
        data.push(Obj);
        console.log("get data", data)

        });
            $(".loader").show();
        $.ajax({
        type: 'POST',
        url: '../product/SaveChildSku',
        data: { data },
        success: function (res) {

            console.log("data", res);
            $(".loader").hide();
            if (res=="true") {


        $.notify(`Saved  Successfully!`, { globalPosition: 'bottom right', className: 'Success myclass' });
        location.reload();
        }
        else {
                $.notify('Not Saved this SKU!', { globalPosition: 'bottom right', className: 'danger mydelte' });
        location.reload();
        }

        }
        });

        });

        //$('.addproduct').click(function () {
        //    debugger
        //        var row = $(this).parents('tr');
        //        var data = [];
        //        var Obj =
        //        {

        //            Sku: $(row).find('.AddSku').val(),
        //            product_id: $(row).find('.product_id').val(),
        //            productstatus: $(row).find('.productstatus').val(),
        //            title: $(row).find(".AddTitle").val(),
        //            upc: $(row).find(".AddUpc").val(),
        //            colorid: $(row).find(".AddColor").val(),
        //        };
        //    data.push(Obj);
        //    console.log("get data", data)
        //});
        $("#dialog-box").dialog({
        autoOpen: false,
        modal: true,
        });
        $("#dialog-box").dialog({
        autoOpen: false,
        //title: 'Are u want to delete this reocord!',
        modal: true,

        });

            $("#dialog-boximg").dialog({
                autoOpen: false,
                modal: true,
            });
            $("#dialog-boximg").dialog({
                autoOpen: false,
                //title: 'Are u want to delete this reocord!',
                modal: true,

            });
        $(document).on("click", ".delete", function () {

        var currentElem = $(this).closest('tr');
        var selectedRow = $(this);
        var child_id = $(selectedRow).parents('tr').find('.child_id').val();
        console.log("product idddd", child_id)
        $("#dialog-box").dialog({
        buttons: {
        "Confirm": function () {


        $.ajax({
        type: 'GET',
        url: '../product/DeleteChildProduct?child_id=' + child_id,

        success: function (res) {

        $("#dialog-box").dialog("close");
        selectedRow.parents('tr').remove();
            $("#myModalerrorchil").modal({
                backdrop: 'static',
                keyboard: false

            });
            $(".closeimg").click(function () {
                location.reload();
            })
        //$.notify('Delete Successfully', { globalPosition: 'bottom right', className: 'danger mydelte' });
        //location.reload();

        },
        Error: function (err) {

        }

        });


        currentElem.remove()
        $(this).dialog("close");
        },
        "Cancel": function () {
        $(this).dialog("close");
        }
        }
        })
        $("#dialog-box").dialog("open");
        });
        var editable = false;
        $(document).on("click", ".edit", function () {
        var selectedRow = $(this).parents('tr');
        editable = true;
        //$(selectedRow).find('.AddColor').prop('readonly', false);
        //$(selectedRow).find('.AddSku').prop('readonly', false);
        //$(selectedRow).find('.AddTitle').prop('readonly', false);
        $(selectedRow).find('.AddUpc').prop('readonly', false);
        $(selectedRow).find('.edit').hide();
        $(selectedRow).find('.submit').show();
        });


        $('#DeleteProduct').click(function () {
        var productSku = $(this).attr('data-ProductSKU');

        $.ajax({
        type: "POST",
        url: '@Url.Action("DeletProduct", "Product")?ProductSku='+productSku,
        data: {},
        success: function (data) {
        console.log(data.statuss)
        }
        });

        });






        // focus in if default value is 0 than make it empty
        $("#UPCID, #shipmentLenghtId ,#shipmentHeightId ,#shipmentWidthId, #ShipmentWeightId ,#AvgCostId").focus(function () {
        if ($(this).val() == "0.00") {
        $(this).val("");
        }
        });

        // focus out if default value is empty than make it 0
        $("#UPCID, #shipmentLenghtId ,#shipmentHeightId ,#shipmentWidthId, #ShipmentWeightId ,#AvgCostId").focusout(function () {

        if ($(this).val() == "") {
        $(this).val("0");
        }
        });




        $("#fUpload").on("change", function (e) {

        var files = e.target.files,
        filesLength = files.length;
        for (var i = 0; i < filesLength; i++) {
        var f = files[i]
        var fileReader = new FileReader();
        fileReader.onload = (function (e) {
        var file = e.target;
        $("<span class=\"pip\">" + "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\" />" +" </span>").insertAfter("#files");
        $(".remove").click(function () {
        var index = $(this).parent().index();
        $(this).parent(".pip").remove();
        });


        });
        fileReader.readAsDataURL(f);
        }
        });



        //on key press if textbox containa alphabets then remove those characters
        $("#UPCID,#shipmentLenghtId ,#shipmentHeightId ,#shipmentWidthId, #ShipmentWeightId ,#AvgCostId,#lblAvgCostCanada").keyup(function (event) {

        var $this = $(this);
        $this.val($this.val().replace(/[^\d.]/g, ''));

        if (event.target.id == "AvgCostId") {
        $('#lblAvgCostCanada').val(parseFloat($('#AvgCostId').val() * $('#currencyRate').val()).toFixed(2));
        $('#lblAvgCostCanada').prop("readonly",true)
        }
        if (event.target.id == "lblAvgCostCanada") {
        $('#AvgCostId').val(parseFloat($('#lblAvgCostCanada').val() / $('#currencyRate').val()).toFixed(2));
        $('#AvgCostId').prop("readonly", true)
        }


        });

        $('#UPCID').keyup(function () {
        CountDownCharacter(12, 'UPCID', 'UPCCounter');
        });

        $('#productDescription').keyup(function () {
        CountDownCharacter(1000, 'productDescription', 'productDescriptionCounter');
        });

        $('input[id=ProductTitle]').keyup(function () {
        CountDownCharacter(200, 'ProductTitle', 'ProductTitleCounter');
        });

        // categories autoComplete

        $('#CategoryId').autocomplete({
        autoFocus: true,
        source: function (request, response) {
        $.ajax({
        url: "/Product/GetAllCategoriesForAutoComplete",
        type: "POST",
        minLength: 3,
        dataType: "json",
        data: { Prefix: request.term },
        success: function (data, ui) {

        //if (data.length > 0) {
        response($.map(data, function (item) {
        if (item != null) {
        return { label: item.Name, value: item.Name, id: item.ID };
        }

        }));
        }
        })
        },
        select: function (event, ui) {

        $('#categoriesValueId').val(ui.item.id);
        },
        response: function (event, ui) {
        if (ui.content.length === 0) {
        $("#empty-message").text("No results found");
        $('#categoriesValueId').val("0");
        $('#InputSubmit').attr("disabled", true)
        } else {
        $("#empty-message").empty();
        $('#InputSubmit').attr("disabled", false)
        }
        }
        });



        $('.AddColor').autocomplete({
        autoFocus: true,
        source: function (request, response) {
        $.ajax({
        url: "/Product/GetAlColorForAutoComplete",
        type: "POST",
        minLength: 3,
        dataType: "json",
        data: { Prefix: request.term },
        success: function (data, ui) {

        //if (data.length > 0) {
        response($.map(data, function (item) {
        if (item != null) {
        return { label: item.Name, value: item.Name, ColorAlias: item.ColorAlias, id: item.ID };
        }

        }));
        }
        })
        },
        select: function (event, ui) {

        $('#ColorIdForMessage').val(ui.item.id);
        $('.ColorAlias').val(ui.item.ColorAlias);
        $(this).parents('tr').find('.ColorId').val(ui.item.id);
        //$('.ColorAlias').val(ui.);
        },
        response: function (event, ui) {
        console.dir(ui.content)
        if (ui.content.length === 0) {
        $("#empty-message-Color").text("No results found");
        $('#ColorIdForMessage').val("0");

        $('#InputSubmit').attr("disabled", true)
        } else {
        $("#empty-message-Color").empty();
        $('#InputSubmit').attr("disabled", false)
        }
        }
        });


        // Brand AutoComplete

        $('#Brand').autocomplete({
        autoFocus: true,
        source: function (request, response) {
        $.ajax({
        url: "/Product/GetAllBrandForAutoComplete",
        type: "POST",
        minLength: 3,
        dataType: "json",
        data: { Prefix: request.term },
        success: function (data, ui) {
        response($.map(data, function (item) {
        if (item != null) {

        return { label: item.BrandName, value: item.BrandName, id: item.BrandId };
        }

        }));
        }
        })
        },
        select: function (event, ui) {

        $('#BrandIdForMessage').val(ui.item.id);
        },
        response: function (event, ui) {

        if (ui.content.length === 0) {
        $("#empty-message-Brand").text("No results found");
        $('#BrandIdForMessage').val("0");
        $('#InputSubmit').attr("disabled", true)
        } else {
        $("#empty-message-Brand").empty();
        $('#InputSubmit').attr("disabled", false)
        }
        }
        });



        function CountDownCharacter(limit, controlID, target) {
        var remaining = limit - $('#' + controlID).val().length;
        $('#' + target).text(remaining + "/" + limit);
        }

        $('#ProductTitle').keyup(function () {
        capitalize_Words($(this).val(), 'ProductTitle');
        });



        function capitalize_Words(str, id) {
        var data = str.replace(/\w\S*/g, function (txt) { return txt.charAt(0).toUpperCase() + txt.substr(1) });
        $('#' + id).val(data);
        }

        $('#btnClose').click(function () {
        if ($('#HfProductId').length > 0) {
        $.get('/Product/ShowImages/' + $('#HfProductId').val() + '').done(function (response) {
        $('#imagesDivMainView').html(response);
        });
        }
        });
        });


        //function SubmitForm() {
        //    var files = $('#UloadImages').find('#fUpload').prop("files");
        //    var fdata = new FormData();
        //    for (var i = 0; i < files.length; i++) {
        //        fdata.append("files", files[i]);
        //    }
        //    fdata.append("ProductId", $('#HfProductId').val())
        //    if (files.length > 0) {
        //        $.ajax({
        //            type: "POST",
        //            url: "/Product/UploadImagesOfSku",
        //            data: fdata ,
        //            contentType: false,
        //            processData: false,
        //            success: function (response) {

        //                $.get('/Product/ShowImages/' + $('#HfProductId').val()+'').done(function (response) {
        //                    $('#imagesDIV').html(response);
        //                });
        //            }
        //        });
        //    }
        //    else {
        //        alert('Please select a file.')
        //    }
        //}


        function OpenUploadImagesForm(url) {
        $.get(url).done(function (response) {
        $('#modelBody').html(response);

        var res = url.split("/");

        $.get('/Product/ShowImages/'+res[3]+'').done(function (response) {
        $('#imagesDIV').html(response);
        })
        });
        }

        $('body').on('click', 'span.close', function () {


        var ProductImageId = $(this).attr("data-porductImage-id");
        $(this).parent().remove();

        $.ajax({
        url: '@Url.Action("DeleteProductImage", "Product")/' + ProductImageId + '',
        type: "POST",
        success: function (data) {
        if (data.status) {

        $(this).parent().remove();
        }
        }
        });
        });

        $(document).on("click", ".submit", function () {

        var selectedRow = $(this).parents('tr');
        $(selectedRow).parents('tr').next().find(".sku").focus();
        var data =
        {

        Sku: $(selectedRow).find('.AddSku').val(),
        Childproduct_id: $(selectedRow).find('.child_id').val(),
        productstatus: $(selectedRow).find('.productstatus').val(),
        title: $(selectedRow).find(".AddTitle").val(),
        upc: $(selectedRow).find(".AddUpc").val(),

        images2: $(selectedRow).find('input#file-input').val(),
        //Colorname: $(selectedRow).find(".AddColor").val(),
        ColorIds: $(selectedRow).find(".ColorId").val(),
        };
        console.log("imges are", data.images),
        console.log("imges are", data.images2),
        console.log("save data child??",data)
        if (data.Sku != '' && data.title != '' && data.Colorname != '') {
            $(".loader").show();
        var i = 0;
        $.ajax({
        type: 'POST',
        url: '../product/UpdateChildSku',
        data: { data },
            success: function (res) {
                $(".loader").hide();
        i++;

        if (res > 0) {
        $(selectedRow).find('.child_id').val(res);
        $(selectedRow).find('input').prop('readonly', true);
        $(selectedRow).find('select').attr('disabled', true);
        $(selectedRow).find('.edit').show();
        $(selectedRow).find('.submit').hide();
        if (editable == false) {
        //AddMarkup();
        $(selectedRow).next().find(".sku").focus();
        }
        editable = false;

        $.notify('Save Successfully', { globalPosition: 'bottom right', className: 'success myclass' });
        location.reload();
        }
        else {
            $("#myModalerror1update").modal({
                backdrop: 'static',
                keyboard: false

            });
            $(".closeimg").click(function () {
                location.reload();
            })
        }
        },
        Error: function (err) {

        }
        });
        }
        else {
        if (data.Sku == '') {
        selectedRow.find(".AddSku").addClass('warning')
        }
        if (data.title == '') {
        selectedRow.find(".AddTitle").addClass('warning')
        }
        if (data.Colorname == '') {
        selectedRow.find(".AddColor").addClass('warning')
        }

        }
        });


        $('body').on('keyup', '#UPCID', function () {
        var textBoxValue = $(this).val().trim();
        if (textBoxValue.length > 0) {
        $.ajax({
        type: "POST",
        url: '@Url.Action("CheckProductUPCExists", "Product")',
        data: { 'name': textBoxValue },
        success: function (data) {
        if (data.success == true) {
        $('#IsExistsUPC').text("Already Exists").css("color", "red");
        $('#InputSubmit').attr("disabled", true)
        }
        else {
        $('#IsExistsUPC').text("Available").css("color", "green");
        $('#InputSubmit').attr("disabled", false)
        }
        }
        });
        }
        else {
        $('#IsExistsUPC').text("");
        }
        });
        $('input#file-input').change(function (e) {

        var selectedRow = $(this).parents('tr');
        $(selectedRow).parents('tr').next().find(".sku").focus();

        /*$(selectedRow).find('input#file-input').val()*/

        var files = $(selectedRow).find('input#file-input').val();
        //
        var fdata = new FormData();
        for (var i = 0; i < files.length; i++) {
        fdata.append("files", files[i]);
        }


        var ProductSKU = $(selectedRow).find('.AddSku').val();


        //    getBase64(e.target.files[0]);

        if (files.length > 0) {
        var formData = new FormData();
        formData.append('files', e.target.files[0]);
        formData.append('ProductSKU', ProductSKU);
            $(".loader").show();
        $.ajax({
        type: 'POST',
        url: "/Product/SaveImagesSingle",
        data: formData,
        cors: true,
        processData: false,
        crossDomain: true,
        contentType: false,
        secure: true,
        headers: {
        'Access-Control-Allow-Origin': '*',
        },

            success: function (response) {
                $(".loader").hide();
                $("#myModalerror1").modal({
                    backdrop: 'static',
                    keyboard: false

                });
                $(".closeimg").click(function () {
                    location.reload();
                })
            //$.notify('Image Upload Successfully', { globalPosition: 'bottom right', className: 'Success myclass' });
            //location.reload();
        }
        });
        }
        else {
        alert('Please select a file.')
        }

        });
        function getBase64(file) {
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
        console.log("abc")
        console.log(reader.result);
        //$.ajax({
        //    type: "POST",
        //    url: "/Product/SaveImagesSingle",
        //    contentType: false,
        //    processData: false,
        //    data: { files: makeblob(reader.result)  },

        //    success: function (response) {

        //    }
        //});
        };
        reader.onerror = function (error) {
        console.log('Error: ', error);
        };
        }
        makeblob = function (dataURL) {
        var BASE64_MARKER = ';base64,';
        if (dataURL.indexOf(BASE64_MARKER) == -1) {
        var parts = dataURL.split(',');
        var contentType = parts[0].split(':')[1];
        var raw = decodeURIComponent(parts[1]);
        return new Blob([raw], { type: contentType });
        }
        var parts = dataURL.split(BASE64_MARKER);
        var contentType = parts[0].split(':')[1];
        var raw = window.atob(parts[1]);
        var rawLength = raw.length;

        var uInt8Array = new Uint8Array(rawLength);

        for (var i = 0; i < rawLength; ++i) {
        uInt8Array[i] = raw.charCodeAt(i);
        }

        return new Blob([uInt8Array], { type: contentType });
        }
         

    </script>
}
