@model ProductWarehouseQtyViewModel


@{
    ViewData["Title"] = "GetProductWarehouseQty";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}
<style type="text/css">
    .removePadding {
        padding-left: 0px !important;
        padding-right: 3px !important;
    }

    #mainProductDetail {
        background-color: honeydew;
        border-radius: 2px;
        padding-top: 5px;
        padding-left: 7px;
    }
</style>
<h6>Product Warehouse Qty</h6>
<hr />

<div class="row">
    <div class="col-sm-2" id="warehouseQty" ></div>
    <div class="col-sm-6">
        <div id="ProductNavBar" style="background-color:#e1e1e2;border-radius:2px;">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link " href="#">Analytics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" asp-action="GetSalesHistoryOfSKU" asp-controller="HLDHistory" asp-route-ProductSku="@Model.ProductSku">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="GetProductWarehouseQty" asp-controller="ProductWarehouseQty" asp-route-ProductSku="@Model.ProductSku">Warehouse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " href="#">Purchasing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " href="#">Returns</a>
                    </li>
                </ul>
            </div>
        </div>
        <input type="hidden" value="@Model.ProductSku" id="HfProductId" />
        <div id="mainProductDetail">


        </div>
    </div>
    <div class="col-sm-4">
        <div id="imagesDivMainView"></div>
    </div>
</div>
<hr style="border:1px solid black;margin-right:10px;" />
<div class="mainWrapper">
    <div class="row">
        <!--Start Left Menue-->
        <div class="col-sm-2">
            <div style="background-color:#e1e1e2;">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("PropertyPage","BestBuyProduct",new {ProductSKU=Model.ProductSku })">BestBuy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ProductZinc","Zinc",new {ProductSKU=Model.ProductSku })">Zinc</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--End Left Menu-->
        <!--Start MainSection-->
        <div class="col-sm-6">
            <h5 class="text-left"></h5>
            <div class="card">
                <div class="card-header">Product Warehouse Qty</div>
                <div class="card-body">
                    <div class="float-left">
                        @foreach (var item in Model.ProductStatus)
                        {
                            @Html.RadioButton("productStatus", item.ProductStatusId) @item.ProductStatusName
                        }

                        <button type="button" style="margin-left:42px" id="btnSaveProductStatus" class="btn btn-primary">Update Product Status</button>

                    </div>
                    <div class="float-right">
                        <button id="getProductQuantity" type="button" class="btn btn-primary">Get Product Qty</button>
                        <span>
                            <img style="display:none;" class="ButtonLoader" height="25px" width="25px" src="~/Images/loadingImage.gif" />
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="row">
                        <div id="warehouseData"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--End Main Section-->
        <div class="col-sm-4"></div>
    </div>



</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(document).ready(function () {

            function ShowImages() {

                if ($('#HfProductId').length > 0) {
                    $.get('/Product/ProductDetailView/' + $('#HfProductId').val() + '').done(function (response) {
                        $('#mainProductDetail').html(response);
                    });

                    $.get('/Product/ShowImages/' + $('#HfProductId').val() + '').done(function (response) {
                        var $container = $(response).wrap('<div />');
                        $container.find('span.close').remove();
                        $('#imagesDivMainView').html($container);

                    });

                    $.get('/Product/PoroductWarehouseQty?sku=' + $('#HfProductId').val() + '').done(function (response) {
                        $('#warehouseQty').html(response);
                    });

                }
            }
            function ShowProductQty() {
                $.get('/ProductWarehouseQty/GetProductWarehouseQtyDataFromDatabase?productSku=' + $('#HfProductId').val() + '').done(function (response) {
                    $('#warehouseData').html(response);
                });
            }

            ShowImages();
            ShowProductQty();


            $('#btnSaveProductStatus').click(function () {
                var value = $('#productStatus:checked').val();
                var productid = $('#HfProductId').val();
                if (typeof value != 'undefined') {
                    $.ajax({
                        url: '/ProductWarehouseQty/UpdateProductStatus',
                        data: { sku: productid, id: value },
                        type: 'Get',
                        traditional: true,
                        success: function (data) {
                            if (data.Productstatus) {
                                $.notify(data.message, { globalPosition: 'bottom right', className: 'success' });
                                setTimeout(function () {
                                    window.location.reload();
                                }, 800);
                            }
                        }
                    });
                }

            });



            $('#getProductQuantity').click(function () {
                var btnLoader = $(this).closest('div').find('.ButtonLoader');
                $(btnLoader).css('display', 'inline')
                $.get('/ProductWarehouseQty/GetProductWarehouseData?productSku=' + $('#HfProductId').val() + '').done(function (response) {
                    $(btnLoader).css('display', 'none');
                    $('#warehouseData').html(response);
                });

            });

        });
    </script>
}