@model PagedList.Core.IPagedList<Hld.WebApplication.ViewModel.PredictionHistroyViewModel>
@using Hld.WebApplication.Helper
@*@model IEnumerable<Hld.WebApplication.ViewModel.BestBuyOrdersViewModel>*@
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@*@{
        ViewData["Title"] = "PredictionDetail";
        Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
    }*@

<style>
    .table {
        border-left: #ccc 1px solid !important;
        border-right: #ccc 1px solid !important;
        border-bottom: #ccc 1px solid !important;
    }
@@media only screen and (max-width: 1366px) {
  .skuwidth {
    width:11%!important;
  }
    .draftwidth {
        width: 11% !important;
    }
    .vendorwidth {
        width: 13% !important;
    }
    .cprwidth {
        width: 11% !important;
    }
}
    @@media only screen and (min-width: 1366px) {
        .skuwidth {
            width: 9% !important;
        }
        .draftwidth {
            width: 9% !important;
        }
        .vendorwidth {
            width: 13% !important;
        }
        .cprwidth {
            width: 9% !important;
        }
    }
        .table thead tr th {
            position: sticky;
          top: 175px;
          cursor:pointer!important;
            z-index: 2;
            background-color: lightgray !important;
        }

    .tooltipTitle {
        display: inline-block;
        position: relative;
        text-align: left;
        
    }

        .tooltipTitle .topdata {
            min-width: 490px;
            height: 60px;
            max-width: 700px;
            top: -5px;
            max-height: 400px;
            left: 0%;
            transform: translate(-30%,-100%);
            padding: 4px 20px;
            color: black;
            background-color: white;
            font-weight: normal;
            font-size: 14px;
            border: 1px solid gray;
            border-radius: 8px;
            position: absolute;
            z-index: 99999999;
            box-sizing: border-box;
            box-shadow: 0 1px 8px rgba(0,0,0,0.5);
            display: none;
        }

            .tooltipTitle .topdata::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 34%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #615A5A transparent transparent transparent;
            }

    .tooltipqtysold {
        display: inline-block;
        position: relative;
        text-align: left;
       
    }

        .tooltipqtysold .topdata {
            min-width: 250px;
            height: auto;
            max-width: 700px;
            top: -5px;
            max-height: 400px;
            left: 0%;
            transform: translate(-30%,-100%);
            padding: 4px 20px;
            color: black;
            background-color: white;
            font-weight: normal;
            font-size: 14px;
            border: 1px solid gray;
            border-radius: 8px;
            position: absolute;
            z-index: 99999999;
            box-sizing: border-box;
            box-shadow: 0 1px 8px rgba(0,0,0,0.5);
            display: none;
        }

            .tooltipqtysold .topdata::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 34%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #615A5A transparent transparent transparent;
            }

    .tooltipphyqty {
        display: inline-block;
        position: relative;
        text-align: left;
        
    }

        .tooltipphyqty .topdata {
            min-width: 300px;
            height: 100px;
            max-width: 700px;
            top: -5px;
            left: 0%;
            transform: translate(-30%,-100%);
            padding: 4px 20px;
            color: black;
            background-color: white;
            font-weight: normal;
            font-size: 14px;
            border: 1px solid gray;
            border-radius: 8px;
            position: absolute;
            z-index: 99999999;
            box-sizing: border-box;
            box-shadow: 0 1px 8px rgba(0,0,0,0.5);
            display: none;
            height: auto;
        }

            .tooltipphyqty .topdata::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 34%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #615A5A transparent transparent transparent;
            }

    .tooltipQtyShowDeficit_90 {
        position: relative;
        display: contents;
        cursor: pointer !important;
    }

        .tooltipQtyShowDeficit_90 .tooltiptextShowDeficit_90 {
            visibility: hidden;
            width: 531px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            font-family: arial;
            position: absolute;
            z-index: 401;
            bottom: 56%;
            left: 23%;
            margin-bottom: -49px;
            margin-left: -238%;
            opacity: 0;
            transition: opacity 0.3s;
        }

            .tooltipQtyShowDeficit_90 .tooltiptextShowDeficit_90::after {
                content: "";
                position: absolute;
                top: -19%;
                left: 45%;
                transform: rotate(0deg);
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .tooltipQtyShowDeficit_90:hover .tooltiptextShowDeficit_90 {
            visibility: visible;
            opacity: 1;
        }


    .table th {
        cursor:pointer!important;
        padding:2px 10px 2px 0px;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    .tooltipQtyShowDeficit_60 {
        position: relative;
        display: contents;
        cursor: pointer !important;
    }

        .tooltipQtyShowDeficit_60 .tooltiptextShowDeficit_60 {
            visibility: hidden;
            width: 336px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            font-family: arial;
            position: absolute;
            z-index: 401;

            margin-top: 40px;

            margin-left: -176px;

            opacity: 0;
            transition: opacity 0.3s;
        }

            .tooltipQtyShowDeficit_60 .tooltiptextShowDeficit_60::after {
                content: "";
                position: absolute;
                top: -37%;
                left: 45%;
                transform: rotate(180deg);
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .tooltipQtyShowDeficit_60:hover .tooltiptextShowDeficit_60 {
            visibility: visible;
            opacity: 1;
        }

    .tooltipQtyShow {
        position: relative;
        display: contents;
        cursor: pointer;
    }

        .tooltipQtyShow .tooltiptextShow {
            visibility: hidden;
            width: 153px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            font-family: arial;
            position: absolute;
            z-index: 401;

            margin-top: 26px;

            margin-left: -93px;
            opacity: 0;
            transition: opacity 0.3s;
        }

            .tooltipQtyShow .tooltiptextShow::after {
                content: "";
                position: absolute;
                top: -37%;
                left: 45%;
                transform: rotate(180deg);
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .tooltipQtyShow:hover .tooltiptextShow {
            visibility: visible;
            opacity: 1;
        }
    .tooltipQtyShowRes {
        position: relative;
        display: contents;
        cursor: pointer !important;
    }

        .tooltipQtyShowRes .tooltiptextShowRes {
            visibility: hidden;

            width: 250px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            font-family: arial;
            position: absolute;
            z-index: 401;
            margin-left: -146px;
            top: 44px;

            opacity: 0;
            transition: opacity 0.3s;
        }

            .tooltipQtyShowRes .tooltiptextShowRes::after {
                content: "";
                position: absolute;
                top: -37%;
                left: 51%;
                transform: rotate(180deg);
                margin-left: -5px;
                border-width: 5px;

                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .tooltipQtyShowRes:hover .tooltiptextShowRes {
            visibility: visible;
            opacity: 1;
        }

</style>
<div class="container-fluid">
    <table class="table" style="margin-top: 175px;">
        <thead style="background-color: lightgray !important;">
            <tr>

                <th style="width:0.1%"><input type="checkbox" class="checkboxes " id="headerCheckBox" /></th>
                <th>
                    Image
                </th>
                <th class="skuwidth">
                    SKU
                </th>

                @*<th>
            Agg Qty
        </th>*@
                <th clas=""style="cursor: pointer !important;
">
                    Phy Qty
                </th>
                <th clas=""style="">
                   
                    <span class="tooltipQtyShowRes" style="cursor:pointer!important">
                        Resvd  Qty
                        <span class="tooltiptextShowRes">  Reserved Qty for Orders & FBA Shipment</span>

                    </span>
                </th>
                <th clas="thpaddingclass"style="">On Order</th>
                <th clas="thpaddingclass">Sold60 </th>
                <th class="sortCover thpaddingclass">


                    <span class="tooltipQtyShowDeficit_60">
                        Cover_T
                        <span class="tooltiptextShowDeficit_60">Cover days with Phy Qty + OnOrder Qty + Reserved Qty</span>
                    </span>
                </th>
                <th class="thpaddingclass" style="cursor: pointer !important;
">

                    <span class="tooltipQtyShow" style="cursor:pointer!important">
                        Cover Phy
                        <span class="tooltiptextShow"> Calculated on Phy Qty</span>
                    </span>
                </th>
                <th class="">Velocity</th>
                <th style="cursor:pointer!important" class="Def60Cover thpaddingclass">
                    D_60
                    
                </th>
                <th style="cursor:pointer!important" class="Def90Cover thpaddingclass">
                    D_90
                </th>

                <th class="cprwidth">CP PO Qty</th>
                <th class="">CasePack</th>


                <th class="vendorwidth">
                    Vendor
                </th>
                <th class="draftwidth">
                    Draft
                </th>
                <th class="">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @{
                    var Velocity = Math.Round(Convert.ToDecimal(item.QtySold60) / Convert.ToDecimal(60), 2);
                    decimal Days = 0;
                    if (Velocity != 0)
                    {
                        Days = Math.Round((Convert.ToDecimal(item.PhysicalQty) + Convert.ToDecimal(item.OnOrder)) / Velocity);
                    }
                    var vendor = item.list[0].VendorAlias != "" ? false : true;
                    var vendorValue = item.list[0].VendorAlias != "" ? "0" : "1";

                }
                <td>
                    <input type='text' style="display:none" class='form-control CheckApproved' value='@vendorValue'>
                    <input type="checkbox" class="checkboxes selectRow" id="checkbox" />
                </td>
                <td>
                    <input type='text' style="display:none" class='form-control LargImage' value='@item.ImageName'>
                    <input type='text' style="display:none" class='form-control SmallImage' value='@item.CompressedImage'>
                    <a target="_blank" href="@ViewBag.S3BucketURL_large/@item.ImageName">
                        <img src="@ViewBag.S3BucketURL/@item.CompressedImage" class="rounded" height="50" width="50" />
                    </a>
                </td>
                
                <td>


                    <span class="tooltipTitle">
                        <a href="/BestBuyProduct/PropertyPage?ProductSKU=@item.SKU" class="skuspan" target="_blank">@item.SKU</a>
                        <span style="margin-left:4px;color:lightgrey;cursor:pointer!important" class="tooltipQtyShowApp"><i class="fas fa-copy copyText"style="cursor:pointer!important"></i><span class="tooltiptextShowApp">Sku Copied!</span></span>
                        @*<i class=" Getproductid fa fa-info" style="cursor:pointer"  data-SKU="@item.SKU" height="18px" width="18px" alt=""></i>*@
                        <span class="topdata ProducTitle">

                        </span>
                    </span>

                    <br />

                    @if (@item.ShadowOf != "")
                    {
                        <span style="color:#D3D3D3">@item.ShadowOf</span><br />
                    }
                    <span style="font-size:10px;" class="locationNotes">@item.LocationNotes</span>
                    <input type='text' style="opacity:0;width:5px" class='SKU' value='@item.SKU'>

                    <br />
                    <div class="">
                        <a style="cursor:pointer" href="https://lp.cwa.sellercloud.com/Inventory/Product_Dashboard.aspx?Id=@item.SKU" target="_blank">
                            <img height="15px" width="20px" src="~/Images/sellercloud-gray.png" />
                        </a>
                        @if (vendorValue == "0")
                        {
                            <a style='margin-left:5px; cursor: pointer;' href='/ApprovedPrice?&sku=@item.SKU' target='_blank'>
                                <img src='~/Images/ok-1.1s-128px.png' class='rounded' height='25'>
                            </a>
                        }
                        <a style="cursor:pointer" href="/PurchaseOrder/GetPOProduct?&sku=@item.SKU" title="Product in PO's" target="_blank">
                            <img src="~/Images/right-1.png" height='20' />
                        </a>
                    </div>


                </td>

                @*<td>
            @Html.DisplayFor(modelItem => item.POStatus)
        </td>*@
                @*<td>
            @Html.DisplayFor(modelItem => item.AggregatedQty)
        </td>*@
                <td>
                    <span class="tooltipphyqty">
                        <span class="phyqty" style="cursor:pointer;color:#007bff;font-size:12px;">@item.PhysicalQty</span>
                        <span class="topdata phyqtyspan">

                        </span>
                    </span>


                </td>
                <td>@item.ReservedQty</td>
                <td>
                    <label class="OnOrder" style="cursor:pointer;color:#007bff;font-size:12px; text-decoration:underline" data-largimage="@ViewBag.S3BucketURL_large/@item.ImageName" data-SmallImage="@ViewBag.S3BucketURL/@item.CompressedImage">@item.OnOrder</label>
                </td>
                <td>
                    <div class="tooltipqtysold">
                        <div class="qtySoldSpan" style="cursor:pointer;color:#007bff;font-size:12px;">@item.QtySold60</div>
                        <div class="topdata QtySold row">

                        </div>
                    </div>



                </td>
                <td>

                    @item.CoverDays
                </td>
                <td>@item.CoverPhy</td>
                <td>

                    @Velocity
                </td>
                <td>
                    <input type='text' style="display:none" class='form-control POQty' value='@Math.Round(@item.LowStock60,2)'>
                    @Math.Round(@item.LowStock60)
                </td>
                <td>
                    <input type='text' style="display:none" class='form-control ' value='@Math.Round(@item.LowStock90,2)'>
                    @Math.Round(@item.LowStock90)
                </td>
                <td>
                    @{

                        decimal CP = 0;
                        decimal CP2 = 0;
                        decimal dfdcp = 0;
                        string dfdcp2 = "0";
                        if (item.QtyPerBox > 0)
                        {
                            dfdcp = @item.LowStock60 / @item.QtyPerBox;
                            CP = Math.Round(dfdcp, 2) * @item.QtyPerBox;
                            CP2 = Math.Round(dfdcp) * @item.QtyPerBox;
                            dfdcp2 = @Math.Round(dfdcp) + ".00";
                        }

                    }
                    @if (@item.QtyPerBox > 0)
                    {

                        <span>@Math.Round(dfdcp, 2) * @item.QtyPerBox= @Math.Round(CP)</span><br />
                        <span style="color:forestgreen">@dfdcp2 * @item.QtyPerBox= @Math.Round(CP2)</span><br />
                    }
                </td>
                <td>
                    <input type='text' style="display:none" class='form-control CasePackQty' value='@item.QtyPerBox'>
                    @if (@item.QtyPerBox > 0)
                    {

                        <a href="/ShipmentCasePack/GetTemplateList?SKU=@item.SKU" target="_blank" style="cursor:pointer">@item.QtyPerBox</a>
                    }
                    else
                    {
                        <a style='cursor: pointer;' href='/ShipmentCasePack/SaveTemplate?SKU=@item.SKU&Vendor=Yes' target='_blank'>
                            <span style="color:gray">CP</span>
                        </a>
                    }
                </td>
                <td>
                    @foreach (var inner in item.list)
                    {
                        if (@inner.VendorAlias != "")
                        {
                            <input type="radio" value="@inner.VendorAlias" data-VendorId="@inner.VendorId" data-Currency="@inner.Currency" data-ApprovedUnitPrice="@inner.ApprovedUnitPrice" class="selectVendor" disabled name="@item.SKU" />
                            <span>@inner.VendorAlias</span>
                            <span><a style='cursor: pointer;' href='/ApprovedPrice?&sku=@item.SKU&title=' target='_blank'> @inner.ApprovedUnitPrice  </a> @inner.Currency</span><br />
                        }
                    }
                </td>
                <td class="InternalPOID">
                    @if (item.InternalPOId > 0)
                    {
                        <a href="../PredictionHistory/PredictionList?data=@item.InternalPOId" target="_blank" style="cursor:pointer">@item.InternalPOId</a>
                    }
                </td>
                <td>

                    @if (item.PredictIncluded == true)
                    {
                        <span>Included</span>

                    }
                    else
                    {
                        <span>Excluded</span>
                    }
                    @if (item.Continue == true)
                    {
                <span>Continue</span>

                    }
                    else
                    {
                <span>DisContinue</span>
                    }
                    
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>

