@model PagedList.Core.IPagedList<Hld.WebApplication.ViewModel.GetSendToZincOrderViewModel>
@using Hld.WebApplication.Helper
@*@model IEnumerable<Hld.WebApplication.ViewModel.BestBuyOrdersViewModel>*@
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@*@{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
    }*@

<style>
    .table thead tr th {
        position: sticky;
        top: 50px;
        padding: 5px;
        z-index: 2;
        background-color: lightgray !important;
    }
    .table tbody tr td {
        position: sticky;
       vertical-align:middle!important;
    }

    .table tbody tr:hover td {
        background: #f1f1f1;
        cursor: pointer;
    }
</style>

<div class="container-fluid mt-2">
    
    <table class="table table-bordered">
        <thead style="background-color:lightgrey">
            <tr>
                <th>
                    Image
                </th>
                <th>
                    SKU
                </th>
                <th>
                    ASIN
                </th>

                <th>
                    Price
                </th>
                <th>
                    Account Detail
                </th>

                <th>
                    Created On
                </th>

                <th>
                    Last Update
                </th>
                <th>
                    Tracking Number
                </th>
                <th>
                    Response
                </th>
                <th>
                    Shipping Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>
                    <a target="_blank" href="@ViewBag.S3BucketURL_large/@item.ImageName">
                        <img src="@ViewBag.S3BucketURL/@item.CompressedImage" class="rounded" height="50" width="50" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sku)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asin)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td> @Html.DisplayFor(modelItem => item.name_on_card)<br />
                 @Html.DisplayFor(modelItem => item.UserName)<br />
                </td>
                <td>


                    @if (item.Date != DateTime.MinValue)
                    {
                        @string.Format("{0: MMM d, yyyy}", item.Date)
                    }



                </td>
                <td>
                    @if (item.LastUpdate != DateTime.MinValue)
                    {
                        @string.Format("{0: MMM d, yyyy}", item.LastUpdate)
                    }
                </td>
                <td>
                    @item.TrackingNumber<br />
                    @item._tracking<br>
                    @item.amazon_tracking<br>
                    @item.carrier<br>
                </td>
                
                <td>
                    @item.Response<br />

                </td>
                <td>
                    @item.shpping_date
                </td>


            </tr>
            }
        </tbody>
    </table>
</div>