@model PagedList.Core.IPagedList<Hld.WebApplication.ViewModel.GetSendToZincOrderViewModel>
@using Hld.WebApplication.Helper
@*@model IEnumerable<Hld.WebApplication.ViewModel.BestBuyOrdersViewModel>*@
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@*@{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
    }*@

<style>
    .pagination > a {
        padding: 5px;
    }

    .table thead tr th {
        position: sticky;
        top: 50px;
       
        z-index: 2;
        background-color: lightgray !important;
    }
    .table tbody tr td {
        
        position: sticky;
       vertical-align:middle!important;
    }

    .table tbody tr:hover td {
        background: #f1f1f1;
        cursor: pointer;
    }
    .table {
        border-left: #ccc 1px solid !important;
        border-right: #ccc 1px solid !important;
        border-bottom: #ccc 1px solid !important;
    }
</style>

<div class="container-fluid mt-2">
    
    <table class="table table-bordered table-hover table-AsinList">
        <thead style="background-color:lightgrey">
            <tr>
                <th>

                </th>
                <th>
                    Image
                </th>
                <th>
                    Order#
                </th>
                <th>
                    SKU
                </th>
                <th>
                    ASIN
                </th>

                <th>
                    Price
                </th>
                <th>
                    Account Detail
                </th>

                <th>
                    Created On
                </th>

                <th>
                    Last Update
                </th>
                <th>
                    Tracking Number
                </th>
                <th>
                    Response
                </th>
                <th>
                    Shipping Date
                </th>
                <th>
                    Received Order Qty
                </th>
                <th>
                    Received Order Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <input type="text" value="@item.Sku" style="display:none" class="skuvalue" />
                    <input type="text" value="@item.Asin" style="display:none" class="asinvalue" />
                    <input type="text" value="@item.Price" style="display:none" class="MaxPrice" />
                    <input type="text" value="@item.OrderId" style="display:none" class="ordervalue" />
                    <p>
                        <label><input type="radio" name="radiobutton" value="radiobutton" class="radiobuttoncheckd"></label>
                    </p>
                </td>
                <td>
                    <a target="_blank" href="@ViewBag.S3BucketURL_large/@item.ImageName">
                        <img src="@ViewBag.S3BucketURL/@item.CompressedImage" class="rounded" height="50" width="50" />
                    </a>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)

                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Sku)*@
                    <a style="padding-left:18px;cursor:pointer" asp-action="PropertyPage" asp-controller="BestBuyProduct" asp-route-ProductSKU="@item.Sku" target="_blank">@item.Sku</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asin)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name_on_card)<br />
                    @Html.DisplayFor(modelItem => item.UserName)<br />
                </td>
                <td>


                    @if (item.Date != DateTime.MinValue)
                    {
                        @string.Format("{0: MMM d, yyyy}", item.Date)
                    }



                </td>
                <td>
                    @if (item.LastUpdate != DateTime.MinValue)
                    {
                        @string.Format("{0: MMM d, yyyy}", item.LastUpdate)
                    }
                </td>
                <td>
                    @item.TrackingNumber<br />
                    @item._tracking<br>
                    @item.amazon_tracking<br>
                    @item.carrier<br>
                </td>

                <td>
                    @item.Response<br />

                </td>
                <td>
                    @item.shpping_date
                </td>
                <td>
                    @item.RecievedOrderQty
                </td>
                <td>
                    @if (item.RecievedOrderDate != DateTime.MinValue)
                    {
                        @string.Format("{0: MMM d, yyyy}", item.RecievedOrderDate)
                    }
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>