@model PagedList.Core.IPagedList<Hld.WebApplication.ViewModel.BestBuyUpdateLogsViewModel>
@using Hld.WebApplication.Helper
@*@model IEnumerable<Hld.WebApplication.ViewModel.BestBuyOrdersViewModel>*@
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv

<style>
    tr.detail {
        display: none;
        width: 100%;
    }

    .hidden_row {
        display: none;
    }

    .showmore:hover {
        cursor: pointer;
    }

    .preappendlist {
        height: 26px;
        padding: 0px;
    }

    .cmclass {
        /*width: 60px;*/
        box-shadow: none;
    }

    .form-control {
        box-shadow: none !important;
    }

    .input-group {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 99% !important;
    }

    .btndivstyle {
        width: 260px !important;
        min-width: 260px !important;
        padding: 6px !important;
        margin-right: 2px !important;
        border-radius: 3px !important;
    }

    .btnsave {
        outline: none !important;
        box-shadow: none !important;
    }

    .btncancel {
        outline: none !important;
        box-shadow: none !important;
    }

    .table {
        border-left: #ccc 1px solid !important;
        border-right: #ccc 1px solid !important;
        border-bottom: #ccc 1px solid !important;
        cursor: pointer !important;
    }

        .table thead tr th {
            position: sticky;
            top: 50px;
            padding: 5px;
            z-index: 2;
            background-color: lightgray !important;
        }
</style>

<table class="table">
    <thead class="thead-light">
        <tr>
            @*<th data-sorter="false">
            <input type="checkbox" id="headerCheckBox" />
        </th>*@
            <th>
                Image
            </th>
            <th>
                Product SKU
            </th>
            <th>
                Job ID #
            </th>

            <th>Updated Selling Price</th>

            <th>MSRP Price</th>
            <th>
                Import ID
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @*<td>
            <input class="checkboxSkuForUpdating checkboxSkForEnableDisable "  type="checkbox" />
        </td>*@
            <td>
                @{
                    <a target="_blank" href="@ViewBag.S3BucketURL_large/@item.image_name">
                        <img src="@ViewBag.S3BucketURL/@item.Compress_image" class="rounded" height="50" width="50" />
                    </a>
                }
            </td>
            <td>
                <span><a style="cursor:pointer" asp-action="ProductZinc" asp-controller="Zinc" asp-route-productsku="@item.SKU" target="_blank">@item.SKU</a></span><br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobId)
            </td>
            <td>
                @item.UpdateSelllingPrice

            </td>
            <td>

                @item.MSRP
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.importId)
            </td>
        </tr>
        }
    </tbody>
</table>
